.column_header {
    cursor: pointer;
    min-width: 60px;
}

.column_asc_sorted {
    border-bottom: 2px solid #01665e !important;
}

.column_desc_sorted {
    border-top: 2px solid #01665e !important;
}