<tooltip-content #AGOriginTooltip>
    <p>List the representative parent species and genes of the antigen.</p>
    <p>Click on the text field to see the list of known species/genes, start typing to narrow the list.
       Multiple species/genes can be selected by separating them with a comma.</p>
</tooltip-content>

<tooltip-content #AGEpitopeTooltip>
    <p>Specify the epitope sequences or sequence pattern.</p>
    <p>In case of searching for a set of sequences click on the text field to the right of 'Sequence(s)', start typing to narrow the list. Multiple sequences can be selected by
       separating them with a comma.</p>
    <p>Sequence and pattern filter supports 20 amino acids, X for an unknown amino acid and amino acid groups specified with '[.]'. For example 'GILG[FG]VFTL' will search for
       'GILGgVFTL' and 'GILGfVFTL'. By default the search expects full match, which can be disabled by checking the substring checkbox.</p>
    <p>After selecting an epitope from the database in the 'Sequence(s)' field, you can click the suggestions button below to view the list of similar epitopes.</p>
</tooltip-content>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapse-AG">Antigen</a>
            </h3>
        </div>
        <div id="collapse-AG">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Origin
                            <i [tooltip]="AGOriginTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Source species</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.origin.species"
                                     placeholder="Comma separated list of antigen species, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.origin.speciesAutocomplete"></set>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Parent gene</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.origin.genes"
                                     placeholder="Comma separated list of antigen genes, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.origin.genesAutocomplete"></set>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Epitope
                            <i [tooltip]="AGEpitopeTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Sequence(s)</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.epitope.sequence"
                                     placeholder="Comma separated list of epitope sequences, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.epitope.sequenceAutocomplete"></set>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Sequence or pattern</p>
                            </div>
                            <div class="col-xs-7">
                                <div class="form-group" [ngClass]="{'has-error has-feedback':!filters.epitope.isValid()}">
                                    <input class="form-control" placeholder="Amino acid pattern, e.g. LLFG[FY][AP]VYV or LLFGXXXYV." [(ngModel)]="filters.epitope.pattern">
                                    <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!filters.epitope.isValid()"></span>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <checkbox [(model)]="filters.epitope.patternSubstring" title="Substring"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>