<div class="ui fade slow element segments">
    <h3 class="ui top attached header">
        Upload
    </h3>
    <div class="ui attached segment teal padded">
        <upload-table></upload-table>
    </div>
    <div class="ui attached secondary clearing segment">
        <input type="file" id="fileHandler" name="files[]" multiple (change)="handleNewFiles($event)"
               accept="text/plain, application/x-compressed" style="display: none" />
        <label for="fileHandler" class="ui teal button left floated">Add</label>
        <button class="ui blue button left floated" *ngIf="uploadService.isReadyForUploadExist()" (click)="uploadService.uploadAll()">Upload all</button>
    </div>
</div>