<div class="ui main content fade element soft-margin">
    <div class="ui equal width stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui raised segments">
                    <h3 class="ui top attached header">Database browser</h3>
                    <div class="ui attached segment teal padded">
                        <p>The table below shows VDJdb records, more information for each column contents is displayed when hovering over the column
                           name.</p>
                        <p>Multiple records with the same TCR and antigen can be present if they come from different donors screened in the same study or
                           different studies. The number of occurrences in samples and studies is listed in Meta column and reflected in confidence
                           score.</p>
                        <p>In case a paired TCR chain (alpha or beta) is available for a given record, it can be fetched by clicking the plus sign to the
                           left of the record.</p>
                        <p>The database can be searched using T-cell receptor (TCR), antigen, major histocompatibility complex (MHC) and record metadata
                           field filters:</p>
                        <ul>
                            <li>Click on the corresponding panels below to expand the filters.</li>
                            <li>Detailed information for each filter can be found by hovering over the question marks.</li>
                            <li>Use the buttons below to refresh the table or reset the filters.</li>
                            <li>Filtered table can be exported as an XLS or a plain-text CSV file.</li>
                        </ul>
                        <p>A comprehensive description of VDJdb record fields/columns can be found <a
                                href='https://github.com/antigenomics/vdjdb-db/blob/master/README.md'>
                            here</a>.</p>
                    </div>
                    <div class="ui attached secondary clearing segment">
                        <button class="ui orange button right floated" (click)="reset()">Reset filters</button>
                        <button class="ui teal button left floated" [ngClass]="{'loading':loading}" (click)="search()">Refresh table</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <filters-group title="CDR3">
                    <tcr-general-filter></tcr-general-filter>
                    <tcr-segments-filter></tcr-segments-filter>
                    <tcr-cdr3-filter></tcr-cdr3-filter>
                </filters-group>
            </div>
            <div class="column">
                <filters-group title="Antigen">
                    <ag-origin-filter></ag-origin-filter>
                    <ag-epitope-filter></ag-epitope-filter>
                </filters-group>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <filters-group title="MHC">
                    <mhc-general-filter></mhc-general-filter>
                    <mhc-haplotype-filter></mhc-haplotype-filter>
                </filters-group>
            </div>
            <div class="column">
                <filters-group title="Metadata">
                    <meta-general-filter></meta-general-filter>
                    <meta-reliability-filter></meta-reliability-filter>
                </filters-group>
            </div>
        </div>
        <div class="row" #tableRow style="margin-bottom: 100px">
            <div class="column">
                <div class="ui raised segments">
                    <h3 class="ui top attached header">Results</h3>
                    <div class="ui attached teal padded blurring segment">
                        <div class="ui inverted dimmer" [ngClass]="{'active':loading}">
                            <div class="ui large text loader top element">Updating</div>
                        </div>
                        <search-table></search-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>