<div class="container-fluid route_content fade">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h2 class="panel-title">
                        Database browser
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>The table below shows VDJdb records, more information for each column contents is displayed when hovering over the column
                               name.</p>
                            <p>Multiple records with the same TCR and antigen can be present if they come from different donors screened in the same study or
                               different studies. The number of occurrences in samples and studies is listed in Meta column and reflected in confidence
                               score.</p>
                            <p>In case a paired TCR chain (alpha or beta) is available for a given record, it can be fetched by clicking the plus sign to the
                               left of the record.</p>
                            <p>The database can be searched using T-cell receptor (TCR), antigen, major histocompatibility complex (MHC) and record metadata
                               field filters:</p>
                            <ul>
                                <li>Click on the corresponding panels below to expand the filters.</li>
                                <li>Detailed information for each filter can be found by hovering over the question marks.</li>
                                <li>Use the buttons below to refresh the table or reset the filters.</li>
                                <li>Filtered table can be exported as an XLS or a plain-text CSV file.</li>
                            </ul>
                            <p>A comprehensive description of VDJdb record fields/columns can be found <a
                                    href='https://github.com/antigenomics/vdjdb-db/blob/master/README.md'>
                                here</a>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="search()" class="btn btn-primary pull-left">Refresh table</button>
                            <button (click)="reset()" class="btn btn-danger pull-right">Reset filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <filters></filters>
    </div>
</div>