<div class="ui main content fade slow element soft-margin">
    <div class="ui segments">
        <h3 class="ui top attached header">Database browser</h3>
        <div class="ui attached segment teal padded">
            <search-info></search-info>
        </div>
        <div class="ui attached secondary clearing segment">
            <button class="ui blue button right floated" (click)="reset()">Reset filters</button>
            <button class="ui teal button left floated" [ngClass]="{'loading':isLoading()}" (click)="search()">Refresh table</button>
        </div>
    </div>
    <div class="ui segments">
        <h3 class="ui top attached header">Results</h3>
        <div class="ui attached teal padded blurring segment">
            <div class="ui inverted dimmer" [ngClass]="{'active':isLoading()}">
                <div class="ui large text loader top element">Updating</div>
            </div>
            <search-table [table]="table" [columns]="columns"></search-table>
        </div>
    </div>
</div>