
.select_drop {

}

.select_drop_container {
    display: none;
    vertical-align: top !important;
    position: absolute;
    font-size: 12px;
    color: #777;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 10;
}

.select_drop_container_active {
    display: inline-block;
}

.select_drop:hover .select_drop_container {
    display: inline-block;
}

.select_trigger {
    cursor: pointer;
    color: #777;
    font-size: 12px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height:30px;
    padding:5px 10px;
    line-height:1.5;
}

.select_trigger:hover {
    color: #777;
}

.select_active_trigger {
    color: #777;
    height:30px;
    padding:5px 10px;
    line-height:1.5;
    font-size: 12px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select_active_trigger:hover {
    color: #777;
}

.select_active_trigger:active {
    color: #777;
}

.select_drop_container ul {
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 2px;
    margin: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    max-height: 180px;
    overflow-y: scroll;
}

.select_drop_container_ul {
    font-size: 12px;
    border: 1px solid #ccc;
    background: #fff;
    list-style-type: none;
    padding: 2px;
    margin: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    max-height: 180px;
    overflow-y: scroll;
}

.select_drop_container_ul li {
    max-height: 50px;
    padding:3px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #ccc;
}

.select_drop_container_ul li:last-child {
    border-bottom: none;
}

.select_drop_container_ul li:hover {
    background: #f5f5f5;
    outline: none;
}

.select_drop_container ul li {
    text-align: center;
    height:25px;
    padding:3px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #ccc;
}

.select_drop_container ul li:hover {
    background: #f5f5f5;
    outline: none;
}

.select_drop_container ul li:last-child {
    border-bottom: none;
}