<div class="ui segments" style="margin-top: 25px">
    <div class="ui segment header">
        Search tree
    </div>
    <div class="ui segment">
        <div class="ui list" motif-search-tree-level [level]="metadata.root" *ngIf="metadata; else loader"
             (onSelect)="onFilterReceived($event)" (onDiscard)="onDiscardReceived($event)">
        </div>
        <ng-template #loader>
            <div class="ui active text centered inline loader">Loading metadata</div>
        </ng-template>
    </div>
</div>