<div class="ui main content container text fade slow element" style="max-width: 850px !important; padding-bottom: 75px;">
    <div class="ui raised segments">
        <h3 class="ui top attached header centered">Database</h3>
        <div class="ui attached segment teal padded">
            <h4>Getting VDJdb in plain text format</h4>

            The latest version of the VDJdb database in tab-delimited format is available
            <a href="https://github.com/antigenomics/vdjdb-db/releases/latest" target="_blank" rel="noopener">here</a>.

            <h4>Contributing</h4>

            Users interested in contributing TCR sequences of known antigen specificity to the database should read the instruction at
            the following
            <a href="https://github.com/antigenomics/vdjdb-db/blob/master/README.md#submission-guide" target="_blank" rel="noopener">link</a>. To submit the contribution use the
            <a href="https://github.com/antigenomics/vdjdb-db/issues" target="_blank" rel="noopener">issue system</a> of the VDJdb repository. If you are not familiar with GitHub you can file your submission by
            creating a new issue and attaching your files. Advanced users can use the pull-request system.

            <h4>Citing</h4>

            Please cite the database as "Shugay M et al. VDJdb: a curated database of T-cell receptor sequences with known antigen specificity.
            Nucleic Acids Research 2017, gkx760"
            <a href="https://doi.org/10.1093/nar/gkx760" target="_blank" rel="noopener">doi:10.1093/nar/gkx760</a>.

            <h4>Contacts</h4>

            For reporting database inconsistencies please use our
            <a href="https://github.com/antigenomics/vdjdb-db/issues" target="_blank" rel="noopener">VDJdb-db issue tracker</a>. Bug reports regarding this web portal can be posted at
            <a href="https://github.com/antigenomics/vdjdb-web/issues" target="_blank" rel="noopener">VDJdb-web issue tracker</a>. For general questions/enquiries regarding VDJdb please contact
            <b>mikhail (dоt) shugay (аt) gmail (dоt) com</b>.
        </div>
    </div>
    <div class="ui raised segments">
        <h3 class="ui top attached header centered">Software</h3>
        <div class="ui attached segment teal padded">
            <h4>Standalone application</h4>

            A command line interface software (VDJdb-standalone) should be preferred in cases when huge amounts of immune repertoire
            sequencing data are being analyzed or when users are interested in obtaining unprocessed output for carrying
            out statistical analysis of the results on their own. The corresponding software package is available
            <a href="https://github.com/antigenomics/vdjdb-standalone" target="_blank" rel="noopener">here</a>. VDJdb-standalone is distributed as an executable JAR and requires Java v1.7+ to run, for additional
            details see the README file in the repository linked above.

            <h4>Web server (Advanced)</h4>

            VDJdb web browser application is an open-source software implemented using Play Framework, Angular and Semantic UI. A standalone
            browser version of the software can be installed locally, the following
            <a href="https://github.com/antigenomics/vdjdb-web" target="_blank" rel="noopener">link</a>
            contains the software package and installation instructions.

            <h4>Other</h4>

            You might be also interested in our lightweight immune repertoire browser
            <a href="https://github.com/antigenomics/vdjviz" target="_blank" rel="noopener">VDJviz</a> and our immune repertoire sequencing data analysis software
            <a href="https://github.com/mikessh/vdjtools" target="_blank" rel="noopener">VDJtools</a>.
        </div>
    </div>
    <div class="ui raised segments">
        <h3 class="ui top attached header centered">Star us on GitHub</h3>
        <div class="ui attached segment teal padded">
            <a class="ui small button" href="https://github.com/antigenomics/vdjdb-web" target="_blank" rel="noopener">
                <i class="star icon"></i>antigenomics/vdjdb-web
            </a>
            <a class="ui small button" href="https://github.com/antigenomics/vdjmatch" target="_blank" rel="noopener">
                <i class="star icon"></i>antigenomics/vdjmatch
            </a>
            <a class="ui small button" href="https://github.com/antigenomics/vdjdb-db" target="_blank" rel="noopener">
                <i class="star icon"></i>antigenomics/vdjdb-db
            </a>
            <a class="ui small button" href="https://github.com/mikessh/vdjtools" target="_blank" rel="noopener">
                <i class="star icon"></i>mikessh/vdjtools
            </a>
        </div>
    </div>
</div>