<div class="ui horizontal divider">
    Search scope
</div>
<div class="ui grid">
    <div class="ui row middle aligned">
        <div class="four wide column filters label"><b>Segment match rule</b></div>
        <div class="five wide column">
            <div class="ui checkbox">
                <input [attr.disabled]="isDisabled()" type="checkbox" [(ngModel)]="filters.searchScope.matchV">
                <label>Match V</label>
            </div>
            <br>
            <div class="ui checkbox">
                <input [attr.disabled]="isDisabled()" type="checkbox" [(ngModel)]="filters.searchScope.matchJ">
                <label>Match J</label>
            </div>
        </div>
    </div>
    <div class="ui row middle aligned">
        <div class="four wide column filters label"><b>Edit distance</b></div>
        <div class="three wide column">
            Substitutions
            <div class="ui input fluid">
                <input [attr.disabled]="isDisabled()" type="number"
                       [ngModel]="filters.searchScope.hammingDistance.substitutions"
                       (ngModelChange)="checkHammingDistance($event, 'substitutions')">
            </div>
        </div>
        <div class="three wide column" *ngIf="isIndelsAllowed()">
            Insertions
            <div class="ui input fluid">
                <input [attr.disabled]="isDisabled()" type="number"
                       [ngModel]="filters.searchScope.hammingDistance.insertions"
                       (ngModelChange)="checkHammingDistance($event, 'insertions')">
            </div>
        </div>
        <div class="three wide column" *ngIf="isIndelsAllowed()">
            Deletions
            <div class="ui input fluid">
                <input [attr.disabled]="isDisabled()" type="number"
                       [ngModel]="filters.searchScope.hammingDistance.deletions"
                       (ngModelChange)="checkHammingDistance($event, 'deletions')">
            </div>
        </div>
        <div class="three wide column" *ngIf="isIndelsAllowed()">
            Total
            <div class="ui input fluid">
                <input [attr.disabled]="isDisabled()" type="number"
                       [ngModel]="filters.searchScope.hammingDistance.total"
                       (ngModelChange)="checkHammingDistance($event, 'total')">
            </div>
        </div>
    </div>
</div>