# Frontend
/app/frontend/node_modules
/app/frontend/out-tsc
/app/frontend/e2e/*.js
/app/frontend/e2e/*.map
/app/frontend/coverage
/app/frontend/npm-debug.log
/app/frontend/package-lock.json

# Front end build artifacts
/public/bundles

# Docs build directories
/docs/_build

/logs
/target
/project/target
/project/project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.DS_Store
/RUNNING_PID
/build
/test/frontend/dll

logs