# Front end
/app/frontend/node_modules
/app/frontend/app/build
/app/frontend/app-generated
/app/frontend/lib

# Front end build artifacts
/public/bundles

npm-debug.log

/logs
/target
/project/target
/project/project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.DS_Store
/RUNNING_PID
