# Front end
/app/frontend/node_modules
/app/frontend/app/build
/app/frontend/dist
/app/frontend/tmp
/app/frontend/out-tsc
/app/frontend/e2e/*.js
/app/frontend/e2e/*.map
/app/frontend/coverage
/app/frontend/webpack/dll

# Front end build artifacts
/public/bundles

npm-debug.log

/logs
/target
/project/target
/project/project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.DS_Store
/RUNNING_PID
/build
/test/frontend/dll
