<div class="item cursor pointer" *ngFor="let value of level.values">
    <ng-container *ngIf="value.next">
        <i class="angle right icon" *ngIf="!value.isOpened" (click)="open(value)"></i>
        <i class="angle down icon" *ngIf="value.isOpened" (click)="close(value)"></i>
    </ng-container>
    <div class="content">
        <div class="header" [ngClass]="{ 'selected': isSelected(value) }">
            <span (click)="header(value)">{{ value.value }}</span>
            &nbsp;&nbsp;&nbsp;<span class="extra" *ngIf="value.next" (click)="filter(value)"><i class="ui icon small circle outline"></i>Select all</span>
        </div>
        <div class="list" *ngIf="value.next && value.isOpened" motif-search-tree-level [level]="value.next" (onFilter)="pushFilter(value, $event)"></div>
    </div>
</div>