<div class="ui fade slow element segments">
    <h3 class="ui top attached header">
        Batch annotation of TCR sequences
    </h3>
    <div class="ui attached segment teal padded">
        <div class="ui active inverted dimmer" *ngIf="!isInitialized()">
            <div class="ui text loader">Connecting</div>
        </div>
        <p>Here you can upload your T-cell receptor repertoire sequencing data and annotate it by performing batch queries of the VDJdb database.</p>
        <p>To proceed with the analysis, go to the upload section, add your samples, and click on the sample name in the panel on the left.
            After running the annotation, you can view the table of VDJdb matches (click <b>Table</b> below the sample name) and
            annotation summary charts (click <b>Charts</b> below the sample name).</p>
        <p>If you want to annotate all your samples together and get a summary statistics report for your dataset,
            click <b>All samples</b> in the panel on the left.</p>
        <br>
        <hr>
        <p>Note that limits on the number of samples, sample file size and number of clonotypes (unique TCR sequences) apply.
            Please see <a href="http://vdjtools-doc.readthedocs.io/en/latest/input.html">this section</a> of
            VDJtools documentation for the list of supported input formats.</p>
    </div>
</div>