<div class="ui grid">
    <div class="eight wide column">
        <div class="ui horizontal divider">
            VDJMatch scoring options
        </div>
        <div class="ui grid">
            <div class="ui row middle aligned">
                <div class="six wide column filters label"><b>Exhaustive alignment</b></div>
                <div class="ten wide column">
                    <!-- Annotations filters help: exhaustive alignment -->
                    <i class="fitted filters corner help icon"
                       popup="Perform exhaustive CDR3 alignment: 0 - no (fast), 1 - check and select best alignment for smallest edit distance,
                           2 - select best alignment across all edit distances within search scope (slow)."
                       header="Exhaustive alignment"
                       footer="Default is 1">
                    </i>
                    <div class="ui fluid selection dropdown" [ngClass]="{'disabled':isDisabled()}" dropdown [content]="exhaustivecontent">
                        <span class="text">{{ getExhaustiveAlignmentShortTitle(filters.scoring.vdjmatch.exhaustiveAlignment) }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu fast fade element" #exhaustivecontent>
                            <div class="item" (click)="checkExhaustiveAlignment(0)">Disabled (fast)</div>
                            <div class="item" (click)="checkExhaustiveAlignment(1)">Check and select best alignment for smallest edit distance</div>
                            <div class="item" (click)="checkExhaustiveAlignment(2)">Select best alignment across all edit distances within search scope (slow)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui row middle aligned">
                <div class="six wide column filters label"><b>Scoring mode</b></div>
                <div class="ten wide column">
                    <!-- Annotations filters help: scoring mode -->
                    <i class="fitted filters corner help icon"
                       popup="Either 0: scores mismatches only (faster) or 1: compute scoring for whole sequences (slower). "
                       header="Scoring mode"
                       footer="Default is 1">
                    </i>
                    <div class="ui fluid selection dropdown" [ngClass]="{'disabled':isDisabled()}" dropdown [content]="scoringmodecontent">
                        <span class="text">{{ getScoringModeShortTitle(filters.scoring.vdjmatch.scoringMode) }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu fast fade element" #scoringmodecontent>
                            <div class="item" (click)="checkScoringMode(0)">Scores mismatches only (faster)</div>
                            <div class="item" (click)="checkScoringMode(1)">Compute scoring for whole sequences (slower)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui horizontal divider">
            Hit filtering & weigthing
        </div>
        <div class="ui grid">
            <div class="ui row middle aligned">
                <div class="four wide column filters label"><b>Probability threshold</b></div>
                <div class="eleven wide column">
                    <!-- Annotations filters help: scoring mode -->
                    <i class="fitted filters corner help icon"
                       popup="Drops hits with a score less than the specified threshold. For VDJmatch scoring the range of scores is [0, 100]
                       and the recommended value for the threshold lies in the range of 10-50.
                       Filtered records will be removed from output annotation files and will not affect the resulting summary statistics."
                       header="Probability threshold"
                       footer="Default is 50">
                    </i>
                    <div style="width: 75%">
                        <slider [min]="0" [max]="100" [single]="true" [model]="slider" (modelChange)="checkSlider($event)"></slider>
                    </div>
                </div>
            </div>
            <div class="row middle aligned">
                <div class="four wide column filters label"><b>Select</b></div>
                <div class="eleven wide column">
                    <!-- Annotations filters help: select best hits -->
                    <i class="fitted filters corner help icon"
                       popup="Select best n hits by score"
                       header="Select best hits"
                       footer="Default is select 3 best hits">
                    </i>
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox cursor pointer" (click)="setHitType('best')">
                                <input [attr.disabled]="isDisabled()" type="radio" name="hits" [checked]="isHitType('best')">
                                <label>best hit</label>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 0.2em">
                            <div class="ui radio checkbox cursor pointer" (click)="setHitType('top')">
                                <input [attr.disabled]="isDisabled()" type="radio" name="hits" [checked]="isHitType('top')">
                                <label>top
                                    <div class="ui mini input">
                                        <input [attr.disabled]="isDisabled()" type="number" min="1" max="100" style="padding: 0.2em 1em !important;"
                                               [ngModel]="filters.scoring.vdjmatch.hitFiltering.topHitsCount"
                                               (ngModelChange)="checkTopHitsCount($event)">
                                    </div> hits</label>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 0.2em">
                            <div class="ui radio checkbox cursor pointer" (click)="setHitType('all')">
                                <input [attr.disabled]="isDisabled()" type="radio" name="hits" [checked]="isHitType('all')">
                                <label>all</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row middle aligned">
                <div class="four wide column filters label"><b>Weighting</b></div>
                <div class="eleven wide column">
                    <!-- Annotations filters help: weight by info -->
                    <i class="fitted filters corner help icon"
                       popup="Weight database hits by their 'informativeness', i.e. the log probability of them being matched by chance."
                       header="Weight by informativeness"
                       footer="Default is false">
                    </i>
                    <div class="ui checkbox">
                        <input [attr.disabled]="isDisabled()" type="checkbox" [(ngModel)]="filters.scoring.vdjmatch.hitFiltering.weightByInfo">
                        <label>Weight by informativeness</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>