<filters-header title="General" help="<p>Specify first and second MHC allele filters.</p>
    <p>Click on the text field to see the list of known MHC allele IDs, start typing to narrow the list. Multiple IDs can be
       selected by separating them with a comma.</p>
    <p>Incomplete queries will be treated as substrings. For example 'HLA-A*02' will match 'HLA-A*02, HLA-A*02, HLA-A*02:01 etc'.</p>
    <p>The second MHC allele is only meaningful for MHC class II and is set to B2M (beta 2 microglobulin) for MHC class I records.</p>">
</filters-header>
<div class="ui grid">
    <div class="row middle aligned">
        <div class="three wide column">
            <b>First chain allele(s)</b>
        </div>
        <div class="twelve wide column">
            <set [(model)]="firstChain"
                 placeholder="Comma separated list of MHC alleles, start typing to see suggestions..."
                 [search]="firstChainValues"></set>
        </div>
    </div>
    <div class="row middle aligned">
        <div class="three wide column">
            <b>Second chain allele(s)</b>
        </div>
        <div class="twelve wide column">
            <set [(model)]="secondChain"
                 placeholder="Comma separated list of MHC alleles, start typing to see suggestions..."
                 [search]="secondChainValues"></set>
        </div>
    </div>
</div>