<div class="ui grid">
    <div class="sixteen wide column">
        <div style="width: 100%; min-height: 100px; overflow-x: auto" *ngIf="!table.isEmpty()">
            <table class="ui unstackable single line celled stripped very compact small table" [style.font-size]="headerFontSize">
                <thead class="cursor pointer">
                <tr>
                    <th [attr.colspan]="table.columns.length" style="padding: 1em">
                        <search-table-pagination [page]="table.page" range="5" [pageCount]="table.pageCount" (pageChange)="pageChange($event)"></search-table-pagination>
                        <search-table-info [found]="table.recordsFound" [total]="table.numberOfRecords"></search-table-info>
                        <search-table-export [formats]="table.getAvailableExportFormats()" (exportEvent)="table.exportTable($event)"></search-table-export>
                        <search-table-pagesize [sizes]="table.getAvailablePageSizes()" [pageSize]="table.pageSize" (changePageSize)="table.changePageSize($event)"></search-table-pagesize>
                    </th>
                </tr>
                <tr>
                    <th class="center aligned collapsing" *ngFor="let column of table.columns; let i = index;" (click)="table.sort(column.name)" [ngClass]="isSorted(column.name)">
                        <span class="header" [popup]="column.comment" [header]="column.title" position="top" width="300">{{ column.title }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of table.rows | async" [search-table-row]="row" class="center aligned"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>