.table_wrapper {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.table_wrapper .table_scroll_wrapper {
    width: 100%;
    overflow: scroll;
}

.table_wrapper table {
    width: 100%;
    margin-left: 0;
}