.group_collapsible .collapsible_content {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}

.group_collapsible .collapsible_content.content_in {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.group_collapsible .collapsible_content.content_in:hover {
    overflow: visible;
}