<tooltip-content #MHCGeneralTooltip>
    Specify MHC class restriction.
</tooltip-content>

<tooltip-content #MHCHaplotypeTooltip>
    <p>Specify first and second MHC allele filters.</p>
    <p>Click on the text field to see the list of known MHC allele IDs, start typing to narrow the list. Multiple IDs can be
       selected by separating them with a comma.</p>
    <p>Incomplete queries will be treated as substrings. For example 'HLA-A*02' will match 'HLA-A*02, HLA-A*02, HLA-A*02:01 etc'.</p>
    <p>The second MHC allele is only meaningful for MHC class II and is set to B2M (beta 2 microglobulin) for MHC class I records.</p>
</tooltip-content>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapse-MHC">MHC</a>
            </h3>
        </div>
        <div id="collapse-MHC">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            General
                            <i [tooltip]="MHCGeneralTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Class</p>
                            </div>
                            <div class="col-xs-8">
                                <checkbox [(model)]="filters.general.mhci" title="MHCI"></checkbox>
                                <checkbox [(model)]="filters.general.mhcii" title="MHCII"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Haplotype
                            <i [tooltip]="MHCHaplotypeTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">First chain allele(s)</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.haplotype.firstChain"
                                     placeholder="Comma separated list of MHC alleles, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.haplotype.firstChainAutocomplete"></set>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Second chain allele(s)</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.haplotype.secondChain"
                                     placeholder="Comma separated list of MHC alleles, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.haplotype.secondChainAutocomplete"></set>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>