<h2 class="ui center aligned icon header" *ngIf="!table.isInitialized() && !table.isLoading()">
    <i class="table icon"></i>
    <div class="content"> Click "Intersect" button to proceed</div>
    <div class="sub header">Sub header</div>
</h2>
<div style="width: 100%; overflow-x: auto" *ngIf="!table.isEmpty()">
    <table class="ui unstackable compact celled stripped table">
        <thead>
        <tr>
            <th class="{{ column.width }}" *ngFor="let column of columns">
                <span class="header">{{ column.title }}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of table.getRows()" [intersection-table-row]="row"></tr>
        </tbody>
    </table>
</div>