<h2 class="ui center aligned icon header" *ngIf="!table.isInitialized() && !table.isLoading()">
    <i class="table icon"></i>
    <div class="content"> Click "Intersect" button to proceed</div>
    <div class="sub header">Sub header</div>
</h2>
<div style="width: 100%; overflow-x: auto" *ngIf="!table.isEmpty()">
    <table class="ui unstackable very compact celled stripped table">
        <thead>
        <tr>
            <th class="{{ column.width }} center aligned" *ngFor="let column of columns">
                <span class="header">{{ column.title }}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned" *ngFor="let row of table.getRows()" [intersection-table-row]="row"></tr>
        </tbody>
    </table>
</div>
<div *ngIf="table.isInitialized() && table.isEmpty() && !table.isError()">
    <h2 class="ui center aligned icon header">
        <i class="search icon"></i>
        No results found
        <div class="sub header">Please change the intersection parameters</div>
    </h2>
</div>
<div *ngIf="table.isInitialized() && table.isEmpty() && table.isError()">
    <h2 class="ui center aligned icon header">
        <i class="warning sign icon"></i>
        Unable to parse sample file
        <div class="sub header">Wrong software type</div>
    </h2>
</div>