<td>
    <div class="ui fluid transparent left icon input" [ngClass]="{'error':!item.status.isNameValid()}" *ngIf="item.status.isWaiting()">
        <input placeholder="Enter sample name" [ngModel]="item.baseName" (ngModelChange)="handleName($event)">
        <i class="write icon"></i>
    </div>
    <div *ngIf="!item.status.isWaiting()">
        {{ item.baseName }}
    </div>
</td>
<td *ngIf="isTagsExist()">
    <div class="ui dropdown" dropdown [content]="content" *ngIf="item.status.isWaiting()">
        <ng-container *ngIf="item.tag === undefined">
            <span class="text">No tag selected</span>
        </ng-container>
        <ng-container *ngIf="item.tag !== undefined">
            <span class="text">{{ item.getTagName() }}</span>
            <a class="ui empty circular sample-tag label" [style.background-color]="item.getTagColor()"></a>
        </ng-container>
        <i class="dropdown icon"></i>
        <div class="menu fast fade element" #content>
            <div class="item" (click)="item.removeTag()">
                Empty tag
            </div>
            <div class="item" *ngFor="let tag of getAvailableTags()" (click)="item.setTag(tag)">
                {{ tag.name }}
                <a class="ui empty circular sample-tag label" [style.background-color]="tag.color"></a>
            </div>
        </div>
    </div>
    <div *ngIf="!item.status.isWaiting()">
        {{ item.getTagName() }}
        <a class="ui empty circular sample-tag label" [style.background-color]="item.getTagColor()"></a>
    </div>
</td>
<td>
    <div class="ui dropdown" dropdown [content]="content" *ngIf="item.status.isWaiting()">
        <span class="text">{{ item.software }}</span>
        <i class="dropdown icon"></i>
        <div class="menu fast fade element" #content>
            <div class="item" *ngFor="let software of getAvailableSoftwareTypes()" (click)="item.setSoftware(software)">
                {{ software }}
            </div>
        </div>
    </div>
    <div *ngIf="!item.status.isWaiting()">
        {{ item.software }}
    </div>
</td>
<td>
    <div class="ui progress {{ item.status.getLabelStatusClass() }}">
        <div class="label">{{ item.status.getStatusString() }}</div>
    </div>
    <div class="ui bottom attached indicating progress" #progress>
        <div class="bar" #progressBar></div>
    </div>
</td>
<td>
    <div *ngIf="item.status.isWaiting()">
        <button class="ui tiny button" (click)="upload()" [ngClass]="{'disabled':item.status.beforeUploadError()}">Upload</button>
        <button class="ui tiny icon button" (click)="remove()">
            <i class="remove icon"></i>
        </button>
    </div>
    <div *ngIf="isCompressAvailable()">
        <button class="ui tiny button" (click)="compress()">Compress</button>
    </div>
    <div *ngIf="item.status.isLoading()">
        <div class="ui active small inline loader"></div>
    </div>
</td>

