<filters-header headerTitle="General" headerHelp="<p>Publication ID and assay type filtering.</p>
    <p>Specify the list of Pubmed IDs to search for: click on the text field to see the list of known IDs, start typing to narrow the list. It is possible to select multiple IDs.</p>
    <p>Assay types and sequencing methods can be selected by using corresponding checkboxes, for more information see VDJdb specification.</p>">
</filters-header>

<div class="ui grid middle aligned">
    <div class="three wide column">
        <b>Reference(s)</b>
    </div>
    <div class="twelve wide column">
        <set [(selected)]="meta.general.referencesSelected"
             [values]="meta.general.referencesValues"
             placeholder="List of reference IDs, start typing to see suggestions..."></set>
    </div>
    <div class="three wide column">
        <b>Assay type</b>
    </div>
    <div class="four wide column">
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.methodSort" type="checkbox">
            <label>Multimer sorting</label>
        </div>
        <br>
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.methodCulture" type="checkbox">
            <label>Culture-based</label>
        </div>
        <br>
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.methodOther" type="checkbox">
            <label>Other</label>
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="three wide column">
        <b>Sequencing</b>
    </div>
    <div class="four wide column">
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.seqSanger" type="checkbox">
            <label>Sanger</label>
        </div>
        <br>
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.seqAmplicon" type="checkbox">
            <label>High-throughput</label>
        </div>
        <br>
        <div class="ui checkbox">
            <input [(ngModel)]="meta.general.seqSingleCell" type="checkbox">
            <label>Single-cell</label>
        </div>
    </div>
</div>