<div class="ui top fixed borderless inverted menu large">
    <div class="ui container">
        <div class="header item"><h1>VDJdb</h1></div>
        <a route="/" class="item">Home</a>
        <a route="/overview" class="item">Overview</a>
        <a route="/search" class="item">Browse</a>

        <a class="ui dropdown item" dropdown [content]="content" *ngIf="!isLogged()">
            Annotation
            <div class="menu fade element slow padded" tabindex="-1" #content>
                <div class="ui info message">
                    <div class="header">Log in required</div>
                    <p>You must logged in to access this page</p>
                </div>
            </div>
        </a>

        <a route="/annotations/info" class="item" *ngIf="isLogged()">
            Annotation
        </a>

        <a route="/motif" class="item">Motif</a>

        <a route="/about" class="item">About</a>
        <a route="/links" class="item">Links</a>
        <a route="/credits" class="item">Credits</a>

        <div class="right menu" *ngIf="!isLogged()">
            <a route="/authorization/login" external="true" class="item">Login</a>
        </div>
        <div class="right menu" *ngIf="isLogged()">
            <div class="ui dropdown item" dropdown [content]="content">
                Logged as: {{ getUserLogin() }}
                <i class="dropdown icon"></i>
                <div class="menu fade element slow padded" tabindex="-1" #content>
                    <a route="/account/details" external="true" class="item">Settings</a>
                    <a route="/authorization/logout" external="true" class="item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>