<div class="ui divided grid">
    <div class="twelve wide column" style="height: 360px">
        <bar-chart [configuration]="{ margin: { left: 80, right: 25, top: 20, bottom: 20 } }" [stream]="stream"></bar-chart>
    </div>
    <div class="four wide column">
        <h4 class="ui header"><i class="settings icon"></i>Options</h4>
        <div class="ui selection fluid dropdown" dropdown [content]="content">
            <span class="text">{{ getCurrentFieldTitle() }}</span>
            <i class="dropdown icon"></i>
            <div class="menu fast fade element" #content>
                <div class="item" *ngFor="let field of getFields(); index as i" (click)="setCurrentField(i)">
                    {{ field }}
                </div>
            </div>
        </div>
    </div>
</div>