<div class="ui top attached basic buttons" style="margin-top: 10px">
    <button (click)="setStateSearchTree()" [ngClass]="{'active': isStateSearchTree()}" class="ui button">Browse by epitope</button>
    <button (click)="setStateSearchCDR3()" [ngClass]="{'active': isStateSearchCDR3()}" class="ui button">Search by CDR3 sequence</button>
</div>
<div class="ui attached segment">
    <motif-view-options [options]="options" (onOptionsChange)="onOptionsChange($event)"></motif-view-options>
    <div style="margin-top: 15px">
        <motif-search-tree [metadata]="metadata" [selected]="selected" *ngIf="isStateSearchTree()"></motif-search-tree>
        <motif-search-cdr3 [input]="cdr3" *ngIf="isStateSearchCDR3()"></motif-search-cdr3>
    </div>
</div>