<div class="ui fade slow element segments">
    <h3 class="ui top attached header">
        Sample {{ sample.name }}
        <div class="sub header">Software: {{ sample.software }}</div>
    </h3>
    <div class="ui attached teal padded segment">
        <button class="ui button teal" (click)="updateData()">Update</button>
    </div>
</div>
<div class="ui two column grid">
    <div class="column">
        <div class="ui fade slow element segments">
            <h3 class="ui top attached header">Charts</h3>
            <div class="ui attached teal padded segment" style="height: 400px; min-height: 400px;">
                <bar-chart [configuration]="configuration" [data]="data"></bar-chart>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fade slow element segments">
            <h3 class="ui top attached header">Charts</h3>
            <div class="ui attached teal padded segment" style="height: 400px; min-height: 400px;">
                <bar-chart [configuration]="configuration" [data]="data"></bar-chart>
            </div>
        </div>
    </div>
</div>