<h2 class="ui center aligned icon header" *ngIf="!table.dirty && !table.loading">
    <i class="table icon"></i>
    <div class="content"> Click "Annotate" button to query VDJdb</div>
    <div class="sub header">Make sure that you've selected parameters (species, etc) that match your sample metadata</div>
</h2>
<div style="width: 100%; overflow-x: auto" *ngIf="table.dirty && !table.isEmpty()">
    <table class="ui unstackable very compact celled stripped small table" table-component [configuration]="configuration"
           [columns]="getColumns()" [table]="table" (onPageChange)="onPageChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </table>
</div>
<div *ngIf="table.dirty && table.isEmpty() && !table.error &&!table.loading">
    <h2 class="ui center aligned icon header">
        <i class="search icon"></i>
        No results found
        <div class="sub header">Perhaps you need to change the annotation parameters</div>
    </h2>
</div>
<div *ngIf="table.dirty && table.isEmpty() && table.error">
    <h2 class="ui center aligned icon header">
        <i class="warning sign icon"></i>
        Unable to parse sample file
        <div class="sub header">Wrong software type</div>
    </h2>
</div>