<div class="sixteen wide column">
    <div class="ui pagination menu">
        <a class="item" (click)="first()">
            First
        </a>
        <a class="item" (click)="previous()">
            Previous
        </a>
        <a class="item" *ngFor="let pageNumber of pageNumbers" [ngClass]="{'active':isCurrent(pageNumber - 1)}" (click)="selectPage(pageNumber - 1)">
            {{ pageNumber }}
        </a>
        <a class="item" (click)="next()">
            Next
        </a>
        <a class="item" (click)="last()">
            Last
        </a>
    </div>
</div>