<div class="ui segments">
    <h3 class="ui top attached header">
        Sample {{ sample.name }}
        <div class="sub header">Software: {{ sample.software }}</div>
    </h3>
    <div class="ui attached teal padded blurring segment">
        <sample-filters [filters]="sample.filters" [disabled]="sample.isProcessing()"></sample-filters>
    </div>
    <div class="ui attached secondary clearing segment">
        <button class="ui teal button left floated" [ngClass]="{'loading':sample.isProcessing()}" (click)="intersect()">Annotate</button>
    </div>
</div>
<router-outlet></router-outlet>