<div class="ui segments">
    <h3 class="ui top attached header">
        Sample {{ sample.name }}
        <div class="sub header">Software: {{ sample.software }}
            <ng-container *ngIf="sample.isSampleInfoExist()">
                <span style="margin-left: 20px">Reads count: {{ sample.readsCount }}</span>
                <span style="margin-left: 20px">Clonotypes count: {{ sample.clonotypesCount }}</span>
            </ng-container>
        </div>
    </h3>
    <div class="ui attached teal padded blurring segment">
        <annotations-filters [filters]="sample.filters" [disabled]="sample.isProcessing()"></annotations-filters>
    </div>
    <div class="ui attached secondary clearing segment">
        <button class="ui teal button left floated" [ngClass]="{'loading':sample.isProcessing()}" (click)="intersect()">Annotate</button>
    </div>
</div>
<div class="ui fade element padded segment" *ngIf="isProcessingBarVisible()" style="min-height: 190px">
    <div class="ui inverted active dimmer">
        <div class="ui large text loader top element">{{ sample.getProcessingLabel() }}</div>
    </div>
</div>
<div class="ui fade element padded segment" *ngIf="isHelperBarVisible()">
    <h2 class="ui center aligned icon header" *ngIf="!sample.table.dirty && !sample.isProcessing()">
        <i class="options icon"></i>
        <div class="content"> Click "Annotate" button to query VDJdb</div>
        <div class="sub header">Make sure that you've selected parameters (species, etc) that match your sample metadata</div>
    </h2>
</div>
<div class="ui fade element padded segment" *ngIf="isEmptyResultsBarVisible()">
    <h2 class="ui center aligned icon header">
        <i class="search icon"></i>
        <div class="content">No results found</div>
        <div class="sub header">Perhaps you need to change the annotation parameters</div>
    </h2>
</div>
<div class="ui fade element padded segment" *ngIf="isErrorBarVisible()">
    <h2 class="ui center aligned icon header">
        <i class="warning sign icon"></i>
        <div class="content">Unable to parse sample file</div>
        <div class="sub header">Wrong software type</div>
    </h2>
</div>
<div [ngClass]="{'hide element':isRouterOutletHidden()}">
    <router-outlet></router-outlet>
</div>