<filters-header headerTitle="General" headerHelp="Specify MHC class restriction."></filters-header>
<div class="ui grid middle aligned">
    <div class="two wide column">
        <b>Class</b>
    </div>
    <div class="two wide column">
        <div class="ui checkbox">
            <input [(ngModel)]="mhc.general.mhci" type="checkbox">
            <label>MHCI</label>
        </div>
        <div class="ui checkbox">
            <input [(ngModel)]="mhc.general.mhcii" type="checkbox">
            <label>MHCII</label>
        </div>
    </div>
</div>