<filters-header headerTitle="Origin" headerHelp="<p>List the representative parent species and genes of the antigen.</p>
    <p>Click on the text field to see the list of known species/genes, start typing to narrow the list.
       It is possible select multiple species/genes</p>">
</filters-header>
<div class="ui grid middle aligned">
    <div class="three wide column">
        <b>Source species</b>
    </div>
    <div class="twelve wide column">
        <set [(selected)]="ag.origin.speciesSelected"
             [values]="ag.origin.speciesValues"
             placeholder="List of antigen species, start typing to see suggestions..."></set>
    </div>
    <div class="three wide column">
        <b>Parent gene</b>
    </div>
    <div class="twelve wide column">
        <set [(selected)]="ag.origin.genesSelected"
             [values]="ag.origin.genesValues"
             placeholder="List of antigen genes, start typing to see suggestions..."></set>
    </div>
</div>