@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@import "theme.css";

body {
    background-color: #ecf0f5 !important;
    min-width: 800px;
}

.content_wrapper {
    position: absolute;
    top: 70px;
    width: 100%;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 5px;
}

.panel-title > a {
    display: block;
    text-decoration: none;
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
    color: #ffffff;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-heading {
    cursor: pointer;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

p.vcenter {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

div.tooltip-inner {
    max-width: 400px;
    padding: 10px;
    text-align: left;
}

.panel-primary > .panel-heading {
    color: #f7f7f7;
    background-color: #01665e !important;
    border-color: #01665e !important;
    border-radius: 0 !important;
}

.panel-primary {
    border-color: #01665e !important;
    border-radius: 0 !important;
}

.btn-primary {
    color: #f7f7f7;
    background-color: #01665e !important;
    border-color: #01665e !important;
    border-radius: 0 !important;
}

.btn-danger {
    color: #f7f7f7;
    background-color: #b2182b;
    border-color: #b2182b;
    border-radius: 0 !important;
}

.btn-default {
    border-radius: 0 !important;
}

.panel-default {
    border-radius: 0 !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #01665e;
    border-color: #01665e;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.p_label {
    margin: 5px;
}

.panel {
    border: 0 !important;
}

.checkbox {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.route_content {
    opacity: 0;
}
.route_content.fade {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    opacity: 1;
}
/* -fail- */
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
     from {opacity: 0}
     to {opacity: 1}
 }
