@import "semantic/semantic";

body {
  background-color: #e1e6ed !important;
  min-width: 600px;
}

.main.menu {
  height: 4em;
}

.main.content {
  margin-top: 7em;
  opacity: 0;
}

.fade.element {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  opacity: 1;
}

.fade.element.average {
  -webkit-animation: fade 0.5s !important;
  animation: fade 0.5s !important;
}

.fade.element.fast {
  -webkit-animation: fade 0.2s !important;
  animation: fade 0.2s !important;
}

/* -fail- */
@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}@keyframes fade {
   from {opacity: 0}
   to {opacity: 1}
 }

.soft-margin {
  margin: 1em 1%;
}

.cursor.pointer {
  cursor: pointer;
}

.top.element {
  top: 4em;
}

