<table class="ui very compact very basic padded table">
    <thead>
    <tr>
        <th class="three wide">
            <div class="ui pointing below blue basic label fade element" *ngIf="isTagNameHelpVisible()">
                Tag name can contain letters ('a-zA-Z'), numbers,   .  (dot),  -  (dash),  _  (underline) and + (plus) symbols. <br>
                Also tag name should have less than 40 symbols and should not be empty.
            </div>
            Name
        </th>
        <th class="one wide">
            Color
        </th>
        <th class="nine wide">
            Samples
        </th>
        <th class="three wide"></th>
    </tr>
    </thead>
    <tbody>
    <tr tags-table-row [tag]="tag" *ngFor="let tag of getAvailableTags()"></tr>
    </tbody>
</table>