<div class="ui grid fade slow element">
    <div class="twelve wide column" style="height: 700px">
        <bar-chart-grouped [configuration]="barChartConfiguration" [stream]="stream"></bar-chart-grouped>
    </div>
    <div class="four wide column">
        <h4 class="ui header"><i class="eye slash outline icon"></i>Hide samples</h4>
        <div class="ui divider"></div>
        <button class="ui tiny compact teal button" *ngFor="let sample of getCurrentTabProcessedSamples()"
                [ngClass]="{'basic':isSampleHidden(sample)}"
                (click)="toggleSampleHidden(sample)">
            {{ sample }}
        </button>
        <h4 class="ui header"><i class="options icon"></i>Options</h4>
        <div class="ui divider"></div>
        <div class="ui checkbox">
            <input type="checkbox" [(ngModel)]="order">
            <label>Order by samples</label>
        </div>
        <br>
        <div class="ui checkbox">
            <input type="checkbox" [(ngModel)]="shared" [disabled]="order">
            <label>Show shared only</label>
        </div>
        <div class="ui divider"></div>
        <summary-chart-options [options]="getCurrentTabSummaryChartOptions()"
                               (onOptionsChange)="handleChangeOptionsFn($event)"
                               [threshold]="threshold"></summary-chart-options>
    </div>
</div>