
<div class="ui grid middle aligned">

    <div class="eight wide column">

        <filters-header headerTitle="CDR3" headerHelp="Specify the CDR3 sequence"></filters-header>

        <div class="ui grid middle aligned">
            <div class="three wide column filters label"><b>Sequence(s)</b></div>
            <div class="thirteen wide column">
                <set [selected]="cdr3 | async"
                    (selectedChange)="updateCDR3($event)"
                     [inputUpperOnly]="true"
                     [allowArbitraryInput]="true"
                     placeholder="Specify a CDR3 sequence"></set>
            </div>
        </div>

    </div>

    <div class="eight wide column">

        <filters-header headerTitle="Epitope" headerHelp="Specify the epitope sequence"></filters-header>

        <div class="ui grid middle aligned">
            <div class="three wide column filters label"><b>Sequence(s)</b></div>
            <div class="thirteen wide column">
                <set [selected]="epitope | async"
                    (selectedChange)="updateEpitope($event)"
                     [inputUpperOnly]="true"
                     [allowArbitraryInput]="true"
                     placeholder="Specify a Epitope sequence"></set>
            </div>
        </div>

    </div>

</div>

