<div class="ui horizontal divider">
    General
</div>
<!--<p>Search for specified parent species of a TCR and receptor chain (alpha or beta). You can also specify to show only records that have both TCR alpha and-->
   <!--beta chain sequences (paired records).</p>-->
<div class="ui grid">
    <div class="six column row">
        <div class="column">
            Species
        </div>
        <div class="column">
            <div class="ui checkbox">
                <input [(ngModel)]="human" type="checkbox">
                <label>Human</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="monkey" type="checkbox">
                <label>Monkey</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="mouse" type="checkbox">
                <label>Mouse</label>
            </div>
        </div>
        <div class="column"></div>
        <div class="column">
            Gene (chain)
        </div>
        <div class="column">
            <div class="ui checkbox">
                <input [(ngModel)]="tra" type="checkbox">
                <label>TRA</label>
            </div>
            <br>
            <div class="ui checkbox">
                <input [(ngModel)]="trb" type="checkbox">
                <label>TRB</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="pairedOnly" type="checkbox">
                <label>Only paired records</label>
            </div>
        </div>
    </div>
</div>