<filters-header title="Record reliability" help="<p>Filter records based on VDJdb confidence score: the higher the better, defined according to assay metadata, more details can be found in VDJdb specification.</p>
    <p>Check the corresponding box to include non-canonical CDR3 sequences, i.e. those that do not start with a conserved Cys and end with a conserved Phe/Trp, or CDR3
       sequences for which our dedicated algorithm was not unable to fix missing V/J segments or map them.</p>">
</filters-header>

<div class="ui grid middle aligned">
    <div class="three wide column">
        <b>Minimal confidence score</b>
    </div>
    <div class="four wide column">
        <div class="ui input fluid">
            <input class="form-control" value="0" type="number" [attr.min]="meta.reliability.confidenceScoreMin" [attr.max]="meta.reliability.confidenceScoreMax"
                   [ngModel]="meta.reliability.minimalConfidenceScore" (ngModelChange)="checkConfidenceScore($event)"/>
        </div>
    </div>
    <div class="two wide column"></div>
    <div class="two wide column">
        <b>Spurious CDR3</b>
    </div>
    <div class="five wide column">
        <div class="ui checkbox">
            <input [(ngModel)]="meta.reliability.nonCanonical" type="checkbox">
            <label>Include non-canonical</label>
        </div>
        <div class="ui checkbox">
            <input [(ngModel)]="meta.reliability.unmapped" type="checkbox">
            <label>Include unmapped V/J</label>
        </div>
    </div>
</div>