<div class="ui fade element sidebar vertical menu with navbar" [ngClass]="{'visible':isVisible()}">
    <div class="item">
        <div class="header">Notebook</div>
        <div class="menu">
            <a [routerLink]="['info']" class="item">Info</a>
            <a [routerLink]="['upload']" class="item">
                Upload
                <div class="ui teal left label" *ngIf="isFilesUploading()">
                    <div class="ui active mini inverted inline loader"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Samples</div>
        <div class="menu">
            <a class="item" *ngFor="let sample of getSamples()" [ngClass]="{'disabled':sample.loading}">{{ sample.name }}</a>
        </div>
    </div>
</div>