<div class="ui visible sidebar vertical menu with navbar">
    <div class="item">
        <div class="header">Notebook</div>
        <div class="menu">
            <a [routerLink]="['upload']" class="item">
                Upload
                <div class="ui teal left label" *ngIf="isLoading()">
                    <div class="ui active mini inverted inline loader"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Samples</div>
        <div class="menu">
            <a class="selected item">Test sample 1</a>
            <a class="item">Test sample 2</a>
        </div>
    </div>
</div>