@import play.api.{Environment, Mode}
@import backend.utils.analytics.Analytics
@import eu.bitwalker.useragentutils.Browser
@import backend.actions.UserRequest
@import backend.actions.BrowserDetectionAction
@()(implicit request: UserRequest[_], environment: Environment, analytics: Analytics)

@frontend.views.html.main("VDJdb") {
    <noscript>
        <meta http-equiv="refresh" content="0;url=no-script">
    </noscript>
    <application>
        <div class="load content">
            <div class="ui active centered inline massive loader"></div>
        </div>
    </application>
    @if(environment.mode == Mode.Dev) {
        <script type="application/javascript" src="develop/angular/cached/assets/bundles/polyfills.js" charset="utf-8"></script>
        <script type="application/javascript" src="develop/angular/cached/assets/bundles/runtime.js" charset="utf-8"></script>
        <script type="application/javascript" src="develop/angular/cached/assets/bundles/styles.js" charset="utf-8"></script>
        <script type="application/javascript" src="develop/angular/cached/assets/bundles/vendor.js" charset="utf-8"></script>
        <script type="application/javascript" src="develop/angular/assets/bundles/main.js" charset="utf-8"></script>
    } else {
        @if(request.attrs(BrowserDetectionAction.BROWSER_TYPED_KEY).getBrowser.getGroup.equals(Browser.IE)) {
            <script type="application/javascript" src="@routes.Assets.versioned("bundles/polyfills-ie.js")" charset="utf-8"></script>
        }
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/polyfills.js")" charset="utf-8"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/runtime.js")" charset="utf-8"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/main.js")" charset="utf-8"></script>
    }
}