@import play.api.{Environment, Mode}
@import backend.utils.analytics.Analytics
@()(implicit environment: Environment, analytics: Analytics)

@frontend.views.html.main("VDJdb") {
    <application>
        <div class="load content">
            <div class="ui active centered inline massive loader"></div>
        </div>
    </application>
    @if(environment.mode == Mode.Dev) {
        <script type="application/javascript" src="assets/bundles/polyfills.dll.js" charset="utf-8"></script>
        <script type="application/javascript" src="assets/bundles/vendor.dll.js" charset="utf-8"></script>
        <script type="application/javascript" src="bundles/webpack/bundle.js" charset="utf-8"></script>
    } else {
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/inline.bundle.js")" charset="utf-8"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/polyfills.bundle.js")" charset="utf-8"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/vendor.bundle.js")" charset="utf-8"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("bundles/main.bundle.js")" charset="utf-8"></script>
    }
}