@import play.api.Environment
@import backend.utils.analytics.Analytics
@(title: String, styles: Boolean = true, vendor: Boolean = false)(content: Html)(implicit environment: Environment, analytics: Analytics)
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="manifest" href="assets/manifest.json" type="application/manifest+json">
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            @if(styles) {
                @frontend.views.html.assets.styles()
            }
            @if(vendor) {
                @frontend.views.html.assets.vendor()
            }
    </head>
    <body>
    @content
    </body>
    @frontend.views.html.analytics.analytics()
</html>