@import play.api.Environment
@import play.api.Mode
@(environment: Environment)
<!DOCTYPE html>

<html lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>VDJdb</title>

        @if(environment.mode == Mode.Dev) {
            <link type="text/css" href="bundles/bundle.css" rel="stylesheet">
        } else {
            <link type="text/css" href="bundles/bundle.min.css" rel="stylesheet">
        }
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <application>
            Loading..
        </application>
        @if(environment.mode == Mode.Dev) {
            <script type="text/javascript" src="assets/bundles/polyfills.dll.js" charset="utf-8"></script>
            <script type="text/javascript" src="assets/bundles/vendor.dll.js" charset="utf-8"></script>
        }
        <script type="text/javascript" src="bundles/bundle.min.js" charset="utf-8"></script>
    </body>
</html>
