@import play.api.Environment
@import backend.utils.analytics.Analytics
@()(implicit environment: Environment, analytics: Analytics)

@frontend.views.html.main("VDJdb: not found") {
    <div class="ui middle aligned center aligned notfound grid">
        <div class="column">
            <div class="ui raised segment very padded">
                <div class="ui grid">
                    <div class="five wide column">
                        <h1 class="error-header">404</h1>
                    </div>
                    <div class="eleven wide column left aligned">
                        <h2>Oops! Page not found.</h2>
                        <h4>We could not find the page you were looking for.</h4>
                        <a href="@backend.controllers.routes.Application.index()" class="ui button">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}