<div class="ui right floated compact menu">
    <div class="ui simple dropdown item">
        Export as:
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">
                <i class="download icon"></i>
                Export as:
            </div>
            <a class="item" *ngFor="let format of formats" (click)="exportTable(format)">
                <i class="{{ format.icon }} icon" *ngIf="format.icon"></i> {{ format.title }}
            </a>
            <ng-container *ngIf="isOptionsAvailable()">
                <div class="divider"></div>
                <div class="header">
                    <i class="options icon"></i>
                    Options
                </div>
                <ng-container *ngFor="let option of options">
                    <a class="item" *ngIf="!option.value" (click)="option.value=true">
                        <i class="radio icon"></i> {{ option.title }} (disabled)
                    </a>
                    <a class="item" *ngIf="option.value" (click)="option.value=false">
                        <i class="selected radio icon"></i> {{ option.title }} (enabled)
                    </a>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>