<div class="ui main content container text fade slow element soft-margin" style="min-width: 850px; !important;">
    <div class="ui raised segments">
        <h3 class="ui top attached header centered">Links</h3>
        <div class="ui attached segment teal padded">
            <div class="ui middle aligned grid">
                <div class="ui row">
                    <div class="four wide column">
                        <a href="https://piercelab.ibbr.umd.edu/tcrdb/index.html" target="_blank" rel="noopener">
                            <img class="ui fluid image" src="assets/images/links/tcrdb.png" alt="TSR: TCR Structural Repertoire">
                        </a>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui card" style="width: auto; box-shadow: none">
                            <div class="content">
                                <a class="header" href="https://piercelab.ibbr.umd.edu/tcrdb/index.html" target="_blank" rel="noopener">TSR: TCR Structural Repertoire</a>
                                <div class="meta">
                                    <span class="date">a database of all TCR structures, containing CDR classification and epitope targeting.</span>
                                </div>
                                <div class="description">
                                    <p>
                                        This database is a comprehensive, curated collection of T cell receptor structures from the <a href="http://www.rcsb.org/" target="_blank" rel="noopener">Protein Data Bank</a>,
                                        analyzed for structure, sequence, and antigen recognition, as well as TCR germline gene sequences from <a href="http://www.imgt.org/" target="_blank" rel="noopener">IMGT</a> and TCR sequencing data from various studies.
                                    </p>
                                    <p>
                                        It was developed by the <a href="https://piercelab.ibbr.umd.edu/" target="_blank" rel="noopener">Pierce Laboratory</a>
                                        at the <a href="http://ibbr.umd.edu/" target="_blank" rel="noopener">Institute for Bioscience and Biotechnology Research</a> of the University of
                                        Maryland.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated">
                                    <a class="header" href="https://piercelab.ibbr.umd.edu/tcrdb/index.html" target="_blank" rel="noopener">
                                        <i class="ui icon external link alternate"></i>External link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column">
                        <a href="https://tcrmodel.ibbr.umd.edu/" target="_blank" rel="noopener">
                            <img class="ui fluid image" src="assets/images/links/tcrmodel.png" alt="TCRModel">
                        </a>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui card" style="width: auto; box-shadow: none">
                            <div class="content">
                                <a class="header" href="https://tcrmodel.ibbr.umd.edu/" target="_blank" rel="noopener">TCRmodel</a>
                                <div class="meta">
                                    <span class="date">automated high resolution modeling of T cell receptors.</span>
                                </div>
                                <div class="description">
                                    <p>
                                        TCRmodel is a web server that models T cell receptor (TCR) structures from sequence,
                                        developed by the <a href="https://piercelab.ibbr.umd.edu/" target="_blank" rel="noopener">Pierce Lab</a>
                                        at the University of Maryland <a href="https://www.ibbr.umd.edu/" target="_blank" rel="noopener">Institute for Bioscience and Biotechnology Research</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated">
                                    <a class="header" href="https://tcrmodel.ibbr.umd.edu/" target="_blank" rel="noopener">
                                        <i class="ui icon external link alternate"></i>External link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column">
                        <a href="https://zlab.umassmed.edu/atlas/web/" target="_blank" rel="noopener">
                            <img class="ui fluid image" src="assets/images/links/atlas.png" alt="ATLAS">
                        </a>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui card" style="width: auto; box-shadow: none">
                            <div class="content">
                                <a class="header" href="https://zlab.umassmed.edu/atlas/web/" target="_blank" rel="noopener">ATLAS</a>
                                <div class="meta">
                                    <span class="date">a database of T cell receptor mutant affinities and structures.</span>
                                </div>
                                <div class="description">
                                    <p>
                                        The ATLAS (Altered TCR Ligand Affinities and Structures) database is a manually curated repository containing the binding affinities
                                        for wild-type and mutant T cell receptors (TCRs) and their antigens, peptides presented by the major histocompatibility complex (MHC).
                                        The database links experimentally measured binding affinities with the corresponding three dimensional structures for TCR-pMHC complexes.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated">
                                    <a class="header" href="https://zlab.umassmed.edu/atlas/web/" target="_blank" rel="noopener">
                                        <i class="ui icon external link alternate"></i>External link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column">
                        <a href="http://www.imgt.org/" target="_blank" rel="noopener">
                            <img class="ui fluid image" src="assets/images/links/imgt.png" alt="IMGT">
                        </a>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui card" style="width: auto; box-shadow: none">
                            <div class="content">
                                <a class="header" href="http://www.imgt.org/" target="_blank" rel="noopener">IMGT</a>
                                <div class="meta">
                                    <span class="date">the immunogenetics database, containing germline gene information.</span>
                                </div>
                                <div class="description">
                                    <p>
                                        IMGT® is a high-quality integrated knowledge resource specialized in the immunoglobulins (IG) or antibodies,
                                        T cell receptors (TR), major histocompatibility (MH) of human and other vertebrate species, and in the immunoglobulin superfamily (IgSF),
                                        MH superfamily (MhSF) and related proteins of the immune system (RPI) of vertebrates and invertebrates.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated">
                                    <a class="header" href="http://www.imgt.org/" target="_blank" rel="noopener">
                                        <i class="ui icon external link alternate"></i>External link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column">
                        <a href="http://friedmanlab.weizmann.ac.il/McPAS-TCR/" target="_blank" rel="noopener">
                            <img class="ui fluid image" src="assets/images/links/mcpas-tcr.png" alt="IMGT">
                        </a>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui card" style="width: auto; box-shadow: none">
                            <div class="content">
                                <a class="header" href="http://friedmanlab.weizmann.ac.il/McPAS-TCR/" target="_blank" rel="noopener">McPAS-TCR</a>
                                <div class="meta">
                                    <span class="date"> a database of pathology associated T cell receptor sequences.</span>
                                </div>
                                <div class="description">
                                    <p>
                                        McPAS-TCR is a manually curated catalogue of T cell receptor (TCR) sequences that were found in T cells associated with various pathological
                                        conditions in humans and in mice. It is meant to link TCR sequences to their antigen target or to the pathology and organ
                                        with which they are associated.
                                    </p>
                                    <p>
                                        The database can be queried by disease condition, T cell type, tissue, epitope, source organism, MHC restriction, assay type and other criteria.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated">
                                    <a class="header" href="http://friedmanlab.weizmann.ac.il/McPAS-TCR/" target="_blank" rel="noopener">
                                        <i class="ui icon external link alternate"></i>External link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>