<ng-container *ngIf="epitopes && epitopes.length !== 0; else empty">
    <ng-container *ngFor="let epitope of epitopes; trackBy:trackEpitopeBy">
        <motif-epitope-entry [epitope]="epitope" [isNormalized]="options.isNormalized" (onDiscard)="onEpitopeDiscard($event)"></motif-epitope-entry>
    </ng-container>
</ng-container>
<ng-template #empty>
    <h2 class="ui center aligned icon header"><i class="search icon"></i> No epitope selected
        <div class="sub header">To select epitope you can use the filter tree on the left side of the page</div>
    </h2>
</ng-template>