<h5 class="ui header" style="margin-top: 10px; margin-bottom: 10px">
    <div class="content">
        <span>ID: {{ cluster.clusterId }}</span>&nbsp;&nbsp;&nbsp;
        <span>Cluster size: {{ cluster.size }}</span>&nbsp;&nbsp;&nbsp;
        <span>Cluster length: {{ cluster.length }}</span>&nbsp;&nbsp;&nbsp;
        <span>{{ cluster.vsegm }}&nbsp;/&nbsp;{{ cluster.jsegm }}</span>
        <div class="sub header">
            <span>Species: {{ cluster.meta.species }}</span>&nbsp;&nbsp;&nbsp;
            <span>Gene: {{ cluster.meta.gene }}</span>&nbsp;&nbsp;&nbsp;
            <span>MHC.class: {{ cluster.meta.mhcclass }}</span>&nbsp;&nbsp;&nbsp;
            <span>MHC.A: {{ cluster.meta.mhca }}</span>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</h5>
<seqlogo-chart [configuration]="configuration" [stream]="stream"></seqlogo-chart>
