@import play.api.Environment
@import backend.utils.analytics.Analytics
@import helper._
@import backend.models.authorization.forms.SignupForm
@(form: Form[SignupForm])(implicit environment: Environment, analytics: Analytics, request: Request[_], messages: Messages)
@implicitField = @{
    FieldConstructor(frontend.views.html.authorization.forms.input.f)
}

@frontend.views.html.main("VDJdb: signup") {
    <div class="ui middle aligned center aligned auth grid">
        <div class="column left aligned">
        @helper.form(action = backend.controllers.routes.Authorization.onSignup(), args = 'class -> "ui form", 'id -> "signup") {
            <h3 class="ui top attached header">@messages("authorization.forms.signup.signup")</h3>
            <div class="ui attached segment teal padded">
                @if(form.hasGlobalErrors) {
                    @frontend.views.html.authorization.forms.formErrors(form.globalErrors)
                }
                @CSRF.formField
                @inputText(form("login"), args = 'icon -> "user",
                    'placeholder ->  messages("authorization.forms.signup.placeholder.login"),
                    'fieldType -> "text")
                @inputText(form("email"), args = 'icon -> "mail",
                    'placeholder -> messages("authorization.forms.signup.placeholder.email"),
                    'fieldType -> "email")
                @inputText(form("password"), args = 'icon -> "lock",
                    'placeholder -> messages("authorization.forms.signup.placeholder.password"),
                    'fieldType -> "password")
                @inputText(form("repeatPassword"), args = 'icon -> "lock",
                    'placeholder -> messages("authorization.forms.signup.placeholder.repeatPassword"),
                    'fieldType -> "password")
                <p class="cursor pointer">
                    <a href="@backend.controllers.routes.Authorization.resetRequest()">@messages("authorization.forms.login.forgot")</a>
                </p>
                <button class="ui fluid large teal button" type="submit" form="signup">@messages("authorization.forms.signup.signup")</button>
                <div class="ui divider"></div>
                <p>@messages("authorization.forms.signup.login.question")
                    <a class="cursor pointer" href="@backend.controllers.routes.Authorization.login()" rel="noopener">@messages("authorization.forms.signup.login")</a>
                </p>
                <p class="cursor pointer">
                    <a href="@backend.controllers.routes.Application.index()" rel="noopener">
                    @messages("authorization.forms.signup.back")
                    </a>
                </p>
            </div>
        }
        </div>
    </div>
}