@import play.api.Environment
@import backend.utils.analytics.Analytics
@import helper._
@import backend.models.authorization.user.UserProvider
@import backend.models.authorization.forms.LoginTemporaryForm
@(form: Form[LoginTemporaryForm])(implicit environment: Environment, analytics: Analytics, request: Request[_], messages: Messages, flash: Flash, up: UserProvider)
@implicitField = @{
    FieldConstructor(frontend.views.html.authorization.forms.input.f)
}

@frontend.views.html.authorization.auth_main("VDJdb: login") {
    <div class="ui middle aligned center aligned auth grid">
        <div class="column left aligned">
            <h3 class="ui top attached header">@messages("authorization.forms.login.login")</h3>
            <div class="ui attached segment teal padded">
                <div class="ui fluid buttons">
                    <a class="ui basic button" href="@backend.controllers.routes.Authorization.login()" rel="noopener">
                        @messages("authorization.forms.login.withEmail")
                    </a>
                    <a class="ui button" href="@backend.controllers.routes.Authorization.temporaryLogin()" rel="noopener">
                        @messages("authorization.forms.login.withToken")
                    </a>
                </div>
                <div class="ui divider"></div>
                @helper.form(action = backend.controllers.routes.Authorization.onTemporaryLogin(), args = 'class -> "ui form", 'id -> "login") {
                    @if(form.hasGlobalErrors) {
                        @frontend.views.html.authorization.forms.formErrors(form.globalErrors)
                    }
                    @if(flash.get("verified").nonEmpty) {
                        @frontend.views.html.authorization.forms.formSuccess(Seq(flash.get("verified").get))
                    }
                    @if(flash.get("created").nonEmpty) {
                        @frontend.views.html.authorization.forms.formSuccess(Seq(flash.get("created").get))
                    }
                    @if(flash.get("reset_request").nonEmpty) {
                        @frontend.views.html.authorization.forms.formSuccess(Seq(flash.get("reset_request").get))
                    }
                    @if(flash.get("reset").nonEmpty) {
                        @frontend.views.html.authorization.forms.formSuccess(Seq(flash.get("reset").get))
                    }
                    @CSRF.formField
                    @inputText(form("token"), args = 'icon -> "user",
                        'placeholder -> messages("authorization.forms.login.placeholder.token"),
                        'fieldType -> "text")
                    <button class="ui fluid large teal button" type="submit" form="login">@messages("authorization.forms.login.login")</button>
                }

                <div class="ui divider"></div>
                <p>@messages("authorization.forms.login.signup.question")
                    <a class="cursor pointer" href="@backend.controllers.routes.Authorization.temporarySignup()" rel="noopener">@messages("authorization.forms.login.signup")</a>
                </p>
                <p class="cursor pointer">
                    <a href="@backend.controllers.routes.Application.index()" rel="noopener">
                    @messages("authorization.forms.login.back")
                    </a>
                </p>
            </div>
        </div>
    </div>
}
