@import play.api.Environment
@import backend.utils.analytics.Analytics
@import helper._
@import backend.models.authorization.forms.SignupTemporaryForm
@(form: Form[SignupTemporaryForm])(implicit environment: Environment, analytics: Analytics, request: Request[_], messages: Messages)
@implicitField = @{
    FieldConstructor(frontend.views.html.authorization.forms.input.f)
}

@frontend.views.html.authorization.auth_main("VDJdb: signup") {
    <div class="ui middle aligned center aligned auth grid">
        <div class="column left aligned">
        @helper.form(action = backend.controllers.routes.Authorization.onTemporarySignup(), args = 'class -> "ui form", 'id -> "signup") {
            <h3 class="ui top attached header">@messages("authorization.forms.signup.signup")</h3>
            <div class="ui attached segment teal padded">
                <div class="ui fluid buttons">
                    <a class="ui basic button" href="@backend.controllers.routes.Authorization.signup()" rel="noopener">
                        @messages("authorization.forms.signup.withEmail")
                    </a>
                    <a class="ui button" href="@backend.controllers.routes.Authorization.temporarySignup()" rel="noopener">
                        @messages("authorization.forms.signup.withToken")
                    </a>
                </div>
                <div class="ui divider"></div>
                @if(form.hasGlobalErrors) {
                    @frontend.views.html.authorization.forms.formErrors(form.globalErrors)
                } else {
                    @frontend.views.html.authorization.forms.formInfo(Seq(messages("authorization.forms.signup.token.description")))
                }
                @CSRF.formField
                @inputText(form("token"), args = 'icon -> "user",
                    'placeholder ->  messages("authorization.forms.signup.placeholder.token"),
                    'fieldType -> "text")
                <button class="ui fluid large teal button" type="submit" form="signup">@messages("authorization.forms.signup.signup")</button>
                <div class="ui divider"></div>
                <p>@messages("authorization.forms.signup.login.question")
                    <a class="cursor pointer" href="@backend.controllers.routes.Authorization.temporaryLogin()" rel="noopener">@messages("authorization.forms.signup.login")</a>
                </p>
                <p class="cursor pointer">
                    <a href="@backend.controllers.routes.Application.index()" rel="noopener">
                    @messages("authorization.forms.signup.back")
                    </a>
                </p>
            </div>
        }
        </div>
    </div>
}
