.notifications {
    position: fixed;
    display: block;
    right: 2%;
    top: 0;
    width: 20%;
    height: auto;
    margin-top: 75px;
    z-index: 100;
}

.notifications .message {
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}