<filters-header title="General" help="<p>Publication ID and assay type filtering.</p>
    <p>Specify the list of Pubmed IDs to search for: click on the text field to see the list of known IDs, start typing to narrow the list. Multiple IDs can be selected by
       separating them with a comma.</p>
    <p>Assay types and sequencing methods can be selected by using corresponding checkboxes, for more information see VDJdb specification.</p>">
</filters-header>

<div class="ui grid">
    <div class="row middle aligned">
        <div class="three wide column">
            <b>Reference(s)</b>
        </div>
        <div class="twelve wide column">
            <set [(model)]="references"
                 placeholder="Comma separated list of Pubmed IDs, start typing to see suggestions..."
                 [search]="referencesValues"></set>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <b>Assay type</b>
        </div>
        <div class="four wide column">
            <div class="ui checkbox">
                <input [(ngModel)]="methodSort" type="checkbox">
                <label>Multimer sorting</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="methodCulture" type="checkbox">
                <label>Culture-based</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="methodOther" type="checkbox">
                <label>Other</label>
            </div>
        </div>
        <div class="two wide column"></div>
        <div class="two wide column">
            <b>Sequencing</b>
        </div>
        <div class="four wide column">
            <div class="ui checkbox">
                <input [(ngModel)]="seqSanger" type="checkbox">
                <label>Sanger</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="seqAmplicon" type="checkbox">
                <label>High-throughput</label>
            </div>
            <div class="ui checkbox">
                <input [(ngModel)]="seqSingleCell" type="checkbox">
                <label>Single-cell</label>
            </div>
        </div>
    </div>
</div>