<tooltip-content #MetaGeneralTooltip>
    <p>Publication ID and assay type filtering.</p>
    <p>Specify the list of Pubmed IDs to search for: click on the text field to see the list of known IDs, start typing to narrow the list. Multiple IDs can be selected by
       separating them with a comma.</p>
    <p>Assay types and sequencing methods can be selected by using corresponding checkboxes, for more information see VDJdb specification.</p>
</tooltip-content>

<tooltip-content #MetaReliabilityTooltip>
    <p>Filter records based on VDJdb confidence score: the higher the better, defined according to assay metadata, more details can be found in VDJdb specification.
    <p>Check the corresponding box to include non-canonical CDR3 sequences, i.e. those that do not start with a conserved Cys and end with a conserved Phe/Trp, or CDR3
       sequences for which our dedicated algorithm was not unable to fix missing V/J segments or map them.</p>
</tooltip-content>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-target="#collapse-META">Metadata</a>
            </h3>
        </div>
        <div id="collapse-META">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            General
                            <i [tooltip]="MetaGeneralTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Reference(s)</p>
                            </div>
                            <div class="col-xs-8">
                                <set [(model)]="filters.general.references"
                                     placeholder="Comma separated list of Pubmed IDs, start typing to see suggestions..."
                                     allowAutocomplete="true"
                                     [autocomplete]="filters.general.referencesAutocomplete"></set>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <p class="p_label">Assay type</p>
                            </div>
                            <div class="col-xs-4">
                                <checkbox [(model)]="filters.general.assayType.methodSort" title="Multimer sorting"></checkbox>
                                <checkbox [(model)]="filters.general.assayType.methodCulture" title="Culture-based"></checkbox>
                                <checkbox [(model)]="filters.general.assayType.methodOther" title="Other"></checkbox>
                            </div>
                            <div class="col-xs-2">
                                <p class="p_label">Sequencing</p>
                            </div>
                            <div class="col-xs-4">
                                <checkbox [(model)]="filters.general.sequencing.seqSanger" title="Sanger"></checkbox>
                                <checkbox [(model)]="filters.general.sequencing.seqAmplicon" title="High-throughput"></checkbox>
                                <checkbox [(model)]="filters.general.sequencing.seqSingleCell" title="Single-cell"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="meta_options.reliability">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Record reliability
                            <i [tooltip]="MetaReliabilityTooltip" tooltipPlacement="right" class="fa fa-question-circle" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p class="p_label">Minimal confidence score</p>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" value="0" type="number" min="0" max="3" [(ngModel)]="filters.reliability.minimalConfidenceScore"/>
                            </div>
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-2">
                                <p class="p_label">Spurious CDR3</p>
                            </div>
                            <div class="col-xs-3">
                                <checkbox [(model)]="filters.reliability.nonCanonical" title="Include non-canonical"></checkbox>
                                <checkbox [(model)]="filters.reliability.unmapped" title="Incl. unmapped V/J"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>