<td colspan="9" class="slow fade element" style="background: #F9FAFB">
    <h4 class="ui header" style="margin: 10px">
        Matches
    </h4>
    <table class="ui single line compact table" [style.font-size]="headerFontSize">
        <thead>
        <tr>
            <th class="center aligned">#</th>
            <th class="center aligned">Alignment</th>
            <th class="center aligned" *ngFor="let header of getHeaderColumns()">{{ header.title }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let match of matches; let i = index">
            <!--<tr [search-table-row]="match.row" [columns]="getColumns()" [alignment]="match.alignment"-->
                <!--[skip-columns]="getUnnecessaryColumns()" [index]="i + 1">-->
            <!--</tr>-->
        </ng-container>
        </tbody>
    </table>
</td>