<div class="ui segments with-options" style="margin-top: 25px">
    <h4 class="ui clearing segment header">
        <div class="content">
            {{ epitope.epitope }}
        </div>
        <div class="sub header">
            {{ meta.species }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ meta.gene }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ meta.mhcclass }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ meta.mhca }}
        </div>
        <i class="ui small outline trash icon options-icon" (click)="discard()" style="right: 10px"></i>
        <i class="ui small angle icon options-icon" [ngClass]="{'down': isHidden, 'up': !isHidden}" (click)="hide()" style="right: 40px"></i>
    </h4>
    <ng-container *ngIf="!isHidden">
        <div class="ui segment">
            <motif-epitope-cluster *ngFor="let cluster of epitope.clusters; trackBy: trackClusterBy" [cluster]="cluster" [isNormalized]="isNormalized"></motif-epitope-cluster>
        </div>
    </ng-container>
</div>