<tooltip-content #AGEpitopeTooltip>
    <p>Specify the epitope sequences or sequence pattern.</p>
    <p>In case of searching for a set of sequences click on the text field to the right of 'Sequence(s)', start typing to narrow the list. Multiple sequences can be selected by
       separating them with a comma.</p>
    <p>Sequence and pattern filter supports 20 amino acids, X for an unknown amino acid and amino acid groups specified with '[.]'. For example 'GILG[FG]VFTL' will search for
       'GILGgVFTL' and 'GILGfVFTL'. By default the search expects full match, which can be disabled by checking the substring checkbox.</p>
    <p>After selecting an epitope from the database in the 'Sequence(s)' field, you can click the suggestions button below to view the list of similar epitopes.</p>
</tooltip-content>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Epitope
            <i [tooltip]="AGEpitopeTooltip" tooltipPlacement="right" class="fa fa-question-circle"></i>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <p class="p_label">Sequence(s)</p>
            </div>
            <div class="col-xs-8">
                <set [(model)]="epitopeSequence"
                     placeholder="Comma separated list of epitope sequences, start typing to see suggestions..."
                     allowAutocomplete="true"
                     [autocomplete]="epitopeAutocomplete"></set>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3">
                <p class="p_label">Sequence or pattern</p>
            </div>
            <div class="col-xs-7">
                <div class="form-group" [ngClass]="{'has-error has-feedback':!isPatternValid()}">
                    <input class="form-control" placeholder="Amino acid pattern, e.g. CSAR[DE]GTGNGYTF or CSARDXTGNGYTF." [ngModel]="epitopePattern" (ngModelChange)="checkPattern($event)">
                    <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!isPatternValid()"></span>
                </div>
            </div>
            <div class="col-xs-2">
                <checkbox [(model)]="epitopePatternSubstring" title="Substring"></checkbox>
            </div>
        </div>
    </div>
</div>