<filters-header title="Epitope" help="<p>Specify the epitope sequences or sequence pattern.</p>
    <p>In case of searching for a set of sequences click on the text field to the right of 'Sequence(s)', start typing to narrow the list. It is possible to select multiple sequences.</p>
    <p>Sequence and pattern filter supports 20 amino acids, X for an unknown amino acid and amino acid groups specified with '[.]'. For example 'GILG[FG]VFTL' will search for
       'GILGgVFTL' and 'GILGfVFTL'. By default the search expects full match, which can be disabled by checking the substring checkbox.</p>
    <p>After selecting an epitope from the database in the 'Sequence(s)' field, you can click the suggestions button below to view the list of similar epitopes.</p>">
</filters-header>

<div class="ui grid middle aligned">
    <div class="three wide column">
        <b>Sequence(s)</b>
    </div>
    <div class="twelve wide column">
        <set [(selected)]="ag.epitope.epitopeSelected"
             [values]="ag.epitope.epitopeValues"
             [inputUpperOnly]="true"
             placeholder="List of epitope sequences, start typing to see suggestions..."></set>
    </div>
    <div class="three wide column">
        <b>Sequence or pattern</b>
    </div>
    <div class="twelve wide column">
        <div class="ui right labeled fluid input" [ngClass]="{'error':!ag.epitope.isPatternValid()}">
            <input placeholder="Amino acid pattern, e.g. CSAR[DE]GTGNGYTF or CSARDXTGNGYTF."
                   type="text" [ngModel]="ag.epitope.epitopePattern" (ngModelChange)="ag.epitope.checkPattern($event)">
            <div class="ui basic label">
                <div class="ui checkbox">
                    <input [(ngModel)]="ag.epitope.epitopePatternSubstring" type="checkbox">
                    <label>Substring</label>
                </div>
            </div>
        </div>
    </div>
</div>