<div class="ui segments" style="margin-top: 25px">
    <div class="ui segment header">View options</div>
    <div class="ui segment" *ngIf="options">
        <div class="ui checkbox" (click)="normalize()">
            <input type="checkbox" [ngModel]="options.isNormalized">
            <label>Normalize</label>
        </div>
    </div>
    <div class="ui secondary segment">
        <div class="ui mini orange basic button" [ngClass]="{ 'disabled':!isSelectedExist() }" (click)="discardAll()">Discard all</div>
    </div>
</div>

