<filters-header title="Origin" help="<p>List the representative parent species and genes of the antigen.</p>
    <p>Click on the text field to see the list of known species/genes, start typing to narrow the list.
       Multiple species/genes can be selected by separating them with a comma.</p>">
</filters-header>
<div class="ui grid">
    <div class="row middle aligned">
        <div class="three wide column">
            <b>Source species</b>
        </div>
        <div class="twelve wide column">
            <set [(model)]="ag.origin.species"
                 placeholder="Comma separated list of antigen species, start typing to see suggestions..."
                 [search]="ag.origin.speciesValues"></set>
        </div>
    </div>
    <div class="row middle aligned">
        <div class="three wide column">
            <b>Parent gene</b>
        </div>
        <div class="twelve wide column">
            <set [(model)]="ag.origin.genes"
                 placeholder="Comma separated list of antigen genes, start typing to see suggestions..."
                 [search]="ag.origin.genesValues"></set>
        </div>
    </div>
</div>