<thead class="cursor pointer">
<tr *ngIf="!settings.utils.disable">
    <th [attr.colspan]="columns.length" style="padding: 1em">
        <table-pagination *ngIf="settings.utils.pagination" [page]="table.page" [range]="table.pageRange" [pageCount]="table.pageCount" (pageChange)="onPageChange.emit($event)"></table-pagination>
        <table-info *ngIf="settings.utils.info" [found]="table.recordsFound" [total]="table.numberOfRecords"></table-info>
        <table-export *ngIf="settings.utils.export" [formats]="table.getAvailableExportFormats()" (exportEvent)="onExport.emit($event)"></table-export>
        <table-pagesize *ngIf="settings.utils.pageSize" [sizes]="table.getAvailablePageSizes()" [pageSize]="table.pageSize" (changePageSize)="onPageSizeChange.emit($event)"></table-pagesize>
    </th>
</tr>
<tr [style.font-size]="headerFontSize">
    <th class="{{ isSorted(column) }} {{ settings.classes.columns }}" *ngFor="let column of columns; let i = index;" (click)="onColumnClick.emit(column)">
        <span class="header" [popup]="column.popupContent" [footer]="column.popupFooter" [header]="column.title" position="top" width="300" [disabled]="!column.popup">
            {{ column.title }}
        </span>
    </th>
</tr>
</thead>
<tbody [style.font-size]="contentFontSize">
    <tr *ngFor="let row of table.getRows()" table-row [row]="row" [columns]="columns" class="{{ settings.classes.rows }}"></tr>
</tbody>