<div class="ui main content container text fade slow element">
    <div class="ui raised segments">
        <h3 class="ui top attached header centered">Welcome to the VDJdb browser</h3>
        <div class="ui attached segment teal padded">
            <img class="ui fluid image" src="assets/images/paper-splash.png" alt="splash">

            <p>VDJdb is a curated database of T-cell receptor (TCR) sequences with known antigen specificities.
               The primary goal of VDJdb is to facilitate access to existing information on T-cell receptor
               antigen specificities, i.e. the ability to recognize certain epitopes in a certain MHC
               contexts.</p>

            <p>Our mission is to both aggregate the scarce TCR specificity information available so far and
               to create a curated repository to store such data. In addition to routine database updates providing
               the most up-to-date information fetched
               from recently published studies utilizing TCR specificity assays, we make our best to ensure
               data consistency and correct irregularities in TCR specificity reporting with a complex
               database validation scheme:
            </p>
            <ul>
                <li>We take into account all available information on experimental
                    setup used to
                    identify antigen-specific TCR sequences and assign a single confidence score to highlight
                    most reliable
                    records at the database generation stage.
                </li>
                <li>Each database record is also automatically checked against a
                    database of V/J segment
                    germline sequences
                    to ensure standardized and consistent reporting of V-J junctions and CDR3 sequences that
                    define T-cell clones.
                </li>
            </ul>

            <p>The web application you are viewing right now can be used to browse and query the database,
               providing an intuitive interface for database navigation. Additionally, it can be used to query
               immune repertoire sequencing (RepSeq) samples against the database and generate sample-level
               summary of detected antigen specificities.</p>

            <h3>Click on the item in the menu above to proceed:</h3>
            <ul>
            <li>The <b>Browse</b> section allows interactive browsing and running complex database queries.</li>
            <li>If you want to upload your RepSeq samples/perform batch queries, you can use the <b>Annotation</b> section.</li>
            <li>For more information on VDJdb and downstream analysis tools, citation information and contacts please visit the <b>About</b> section.</li>
            </ul>
        </div>
    </div>
</div>