<filters-header headerTitle="Germline sequence" headerHelp="<p>Specify Variable (V) and Joining (J) segment filters.</p>
    <p>Click on the text field to see the list of known V/J segment IDs, start typing to narrow the list. It is possible to select multiple IDs.</p>
    <p>Incomplete queries will be treated as substrings. For example 'TRBV7' will match 'TRBV7-2*01, TRBV7-2*02, ... and TRBV7-9*01, TRBV7-9*02, ...',
       'TRBV7-2' will match 'TRBV7-2*01, TRBV7-2*02, ...', etc.</p>">
</filters-header>
<div class="ui grid middle aligned">
    <div class="four wide column filters label"><b>Variable segment(s)</b></div>
    <div class="eleven wide column">
        <set [(selected)]="tcr.segments.vSegmentSelected"
             [values]="tcr.segments.vSegmentValues"
             [inputUpperOnly]="true"
             placeholder="List of V segments, start typing to see suggestions..."></set>
    </div>
    <div class="four wide column filters label"><b>Joining segment(s)</b></div>
    <div class="eleven wide column">
        <set [(selected)]="tcr.segments.jSegmentSelected"
             [values]="tcr.segments.jSegmentValues"
             [inputUpperOnly]="true"
             placeholder="List of J segments, start typing to see suggestions..."></set>
    </div>
</div>