<div #dragArea>
    <div *ngIf="!uploadService.isItemsEmpty()">
        <table class="ui very compact very basic single line padded table">
            <thead>
            <tr>
                <th class="three wide">
                    <div class="ui pointing below red basic label fade element" *ngIf="showValidNameTooltip()">
                        File name can contain letters ('a-zA-Z'), numbers,   .  (dot),  -  (dash),  _  (underline) and + (plus) symbols. <br>
                        Also file name should have less than 40 symbols and should not be empty.
                    </div>
                    Name
                </th>
                <th class="two wide" *ngIf="isTagsExist()">
                    <div class="ui dropdown" dropdown [content]="content">
                        <span class="text">Tag</span>
                        <i class="dropdown icon"></i>
                        <div class="menu fast fade element" #content>
                            <div class="item" *ngFor="let tag of annotationsService.getTags()"
                                 (click)="uploadService.setDefaultTag(tag)">
                                {{ tag.name }}
                                <a class="ui empty circular sample-tag label" [style.background-color]="tag.color"></a>
                            </div>
                        </div>
                    </div>
                </th>
                <th class="two wide">
                    <div class="ui dropdown" dropdown [content]="content">
                        <span class="text">Software</span>
                        <i class="dropdown icon"></i>
                        <div class="menu fast fade element" #content>
                            <div class="item" *ngFor="let software of uploadService.getAvailableSoftwareTypes()"
                                 (click)="uploadService.setDefaultSoftware(software)">
                                {{ software }}
                            </div>
                        </div>
                    </div>
                </th>
                <th class="seven wide center aligned">Status</th>
                <th class="two wide"></th>
            </tr>
            </thead>
            <tbody>
            <tr upload-table-row *ngFor="let item of uploadService.getItems()" [file-item]="item" [ngClass]="{'disabled':item.status.isRemoved()}"></tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="uploadService.isItemsEmpty()" style="margin: 10px">
        <h2 class="ui center aligned icon header">
            <i class="upload icon"></i>
            <div class="content">
                Click "Add" button to select files for upload
                <div class="sub header">You can also drag and drop your files here</div>
                <div class="sub header">Supported extensions: txt, gz</div>
            </div>
        </h2>
    </div>
</div>