<div draggable="true" draggable-event (onDragDrop)="onDragDrop($event)">
    <div *ngIf="!uploadService.isItemsEmpty()">
        <table class="ui compact very basic single line table">
            <thead>
            <tr>
                <th class="three wide">Name</th>
                <th class="two wide">
                    Extension
                </th>
                <th class="two wide">
                    <div class="ui fluid dropdown" dropdown [content]="content">
                        <span class="text">Software</span>
                        <i class="dropdown icon"></i>
                        <div class="menu fast fade element" #content>
                            <div class="item" *ngFor="let software of uploadService.getAvailableSoftwareTypes()"
                                 (click)="uploadService.setDefaultSoftware(software)">
                                {{ software }}
                            </div>
                        </div>
                    </div>
                </th>
                <th class="seven wide center aligned">Status</th>
                <th class="two wide"></th>
            </tr>
            </thead>
            <tbody>
            <tr upload-table-row *ngFor="let item of uploadService.getItems()" [file-item]="item" [ngClass]="{'disabled':item.status.isRemoved()}"></tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="uploadService.isItemsEmpty()">
        <h2 class="ui center aligned icon header">
            <i class="upload icon"></i>
            <div class="content">
                Click "Add" button to proceed
                <div class="sub header">You can drag and drop your files here</div>
                <div class="sub header">Supported extensions: txt, gz</div>
            </div>
        </h2>
    </div>
</div>
