<div class="ui form">
    <div class="ui field">
        <div class="ui fluid action input">
            <input type="text" placeholder="Search by CDR3..." [(ngModel)]="input">
            <div class="ui button" (click)="search()">Search</div>
        </div>
    </div>
    <div class="ui field">
        <div class="ui fluid selection dropdown" dropdown [content]="content">
            <div class="text">Select top {{ top }}</div>
            <i class="dropdown icon"></i>
            <div class="menu fade element slow padded" tabindex="-1" #content>
                <div class="item" (click)="setTop(5)">Top 5</div>
                <div class="item" (click)="setTop(10)">Top 10</div>
                <div class="item" (click)="setTop(15)">Top 15</div>
            </div>
        </div>
    </div>
</div>