<div class="ui popup visible fade element"
     [style.min-width]="boundingRect.width"
     [style.left]="boundingRect.left"
     [style.top]="boundingRect.top"
     [style.bottom]="boundingRect.bottom"
     style="display: block !important; position: fixed; text-align: left !important; white-space: normal;">
    <div class="header">{{ getHeaderContent() }}</div>
    <div class="ui divider" *ngIf="getHeaderContent()"></div>
    <div class="content" *ngIf="display === 'paragraph'">
        <p *ngFor="let paragraph of getPopupContent()">{{ paragraph }}</p>
    </div>
    <div class="content" *ngIf="display === 'list'">
        <div class="ui list">
            <div class="item" *ngFor="let item of getPopupContent()">{{ item }}</div>
        </div>
    </div>
    <div class="content" *ngIf="display === 'colored-text'">
        <span *ngFor="let item of getPopupContent()" [style.color]="item.split('|')[1]">{{ item.split('|')[0] }}</span>
    </div>
    <div class="content" *ngIf="display === 'table'">
        <div class="description">
            <div class="ui grid">
                <div class="one column row middle aligned">
                    <div class="column" *ngIf="loading">
                        <div class="ui active centered inline text loader">Loading</div>
                    </div>
                    <div class="column" *ngIf="!loading">
                        <div class="ui very basic fixed single line unstackable compact table">
                            <thead *ngIf="getPopupContent().headers.length !== 0">
                            <tr>
                                <th class="one wide center aligned" *ngFor="let header of getPopupContent().headers"><span class="header">{{ header }}</span></th>
                            </tr>
                            </thead>
                            <tbody class="{{ popupClass }}">
                            <tr class="center aligned" *ngFor="let row of getPopupContent().rows">
                                <td *ngFor="let entry of row">{{ entry }}</td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content footer" *ngIf="isFooterExists() && !loading">
        <div class="ui divider"></div>
        <p>{{ getFooterContent() }}</p>
    </div>
</div>