.contributors_block:nth-child(2n+1) {
    clear: both;
}

.contributors_block {
    float: left;
    width: 40%;
    text-align: center;
    margin: 5%;
}

.contributors_block > hr {
    margin: 0 !important;
}

.contributors_block > p {
    margin: 5px !important;
}