<div class="ui fade element sidebar vertical menu with navbar visible">
    <div class="item">
        <div class="header">Notebook</div>
        <div class="menu">
            <a (click)="sidebarRoute('info')" class="item">Info</a>
            <a (click)="sidebarRoute('upload')" class="item">
                Upload
                <div class="ui teal left label" *ngIf="isFilesUploading()">
                    <div class="ui active mini inverted inline loader"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Samples</div>
        <div class="menu" *ngIf="!isSamplesEmpty()">
            <a class="item" *ngFor="let sample of getSamples()" (click)="sidebarRoute('sample', sample.name, 'table')"
               [ngClass]="{'padded vertically border selected':isSampleSelected(sample)}">
                <i class="trash icon" (click)="deleteSample(sample); $event.stopPropagation()"></i>{{ sample.name }}
                <div class="sample sub menu" *ngIf="isSampleSelected(sample)">
                    <div class="item padded horizontally" [ngClass]="{'selected':isSampleRouteContains('table')}"
                         (click)="sidebarRoute('sample', sample.name, 'table'); $event.stopPropagation()">Table</div>
                    <div class="item padded horizontally" [ngClass]="{'selected':isSampleRouteContains('chart')}"
                         (click)="sidebarRoute('sample', sample.name, 'chart'); $event.stopPropagation()">Charts</div>
                </div>
            </a>
            <a class="item" (click)="sidebarRoute('multisample', 'summary')"
               [ngClass]="{'padded vertically border selected':isAllSamplesSelected()}">
                All samples
            </a>
        </div>
        <div class="menu" *ngIf="isSamplesEmpty()">
            <a class="item">There are no uploaded samples</a>
            <a class="item">Click 'upload' button to proceed</a>
        </div>
    </div>
    <div class="item" *ngIf="!isSamplesEmpty()">
        <div class="header">Settings</div>
        <div class="menu">
            <a class="item" (click)="deleteAllSamples()">Delete all</a>
        </div>
    </div>
</div>