<filters-header title="CDR3" help="<p>Narrow search to a specific CDR3 motif or sequence different by no more than the specified number of mismatches from the query.</p>
<p>Sequence and pattern filter supports 20 amino acids, X for an unknown amino acid and amino acid groups specified with '[.]'. For example 'CASSL[ASR]PGATNEKLFF' will search
for 'CASSLaPGATNEKLFF', 'CASSLsPGATNEKLFF' and 'CASSLrPGATNEKLFF'. By default the search expects full match, which can be disabled by checking the substring checkbox.</p>
<p>Hamming distance filter expects complete sequence with no wildcards, and user can specify the number of substitutions, insertions and deletions allowed during the
search.</p>">
</filters-header>
<div class="ui grid">
    <div class="row middle aligned">
        <div class="three wide column">
            <b>Sequence or pattern</b>
        </div>
        <div class="twelve wide column">
            <div class="ui right labeled fluid input" [ngClass]="{'error':!tcr.cdr3.isPatternValid()}">
                <input placeholder="Amino acid pattern, e.g. CSAR[DE]GTGNGYTF or CSARDXTGNGYTF."
                       type="text" [ngModel]="tcr.cdr3.pattern" (ngModelChange)="tcr.cdr3.checkPattern($event)">
                <div class="ui basic label">
                    <div class="ui checkbox">
                        <input [(ngModel)]="tcr.cdr3.patternSubstring" type="checkbox">
                        <label>Substring</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="panel panel-default" ng-if="tcr_options.cdr3">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--CDR3-->
<!--<i [tooltip]="TCR_CDR3Tooltip" tooltipPlacement="right" class="fa fa-question-circle"></i>-->
<!--</h4>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<div class="row">-->
<!--<div class="col-xs-3" style="margin-top: 15px">-->
<!--<p class="p_label">CDR3 Length</p>-->
<!--</div>-->
<!--<div class="col-xs-7" style="margin-top: 15px">-->
<!--slider here-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">-->
<!--<p class="p_label">Sequence or pattern</p>-->
<!--</div>-->
<!--<div class="col-xs-7">-->
<!--<div class="form-group" [ngClass]="{'has-error has-feedback':!isPatternValid()}">-->
<!--<input class="form-control" placeholder="Amino acid pattern, e.g. CSAR[DE]GTGNGYTF or CSARDXTGNGYTF." [ngModel]="pattern" (ngModelChange)="checkPattern($event)">-->
<!--<span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!isPatternValid()"></span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-2">-->
<!--<checkbox [(model)]="patternSubstring" title="Substring"></checkbox>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3" style="margin-top: 15px">-->
<!--<p class="p_label">By Levenstein distance</p>-->
<!--</div>-->
<!--<div class="col-xs-6" style="margin-top: 15px">-->
<!--<div class="form-group" ng-class="{'has-error has-feedback':!isHammingPatternValid()}">-->
<!--<input class="form-control" filterType="text" placeholder="Complete amino acid sequence, e.g. CASSLAPGATNEKLFF." ng-model="cdr3_hamming.value"-->
<!--ng-change="checkHamming()">-->
<!--<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="!isHammingPatternValid()"></span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="col-xs-12">-->
<!--Substitutions-->
<!--<input class="form-control" value="0" filterType="number" ng-model="cdr3_hamming.s" ng-change="checkHammingValue('s', 0, 5)">-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--Insertions-->
<!--<input class="form-control" value="0" filterType="number" ng-model="cdr3_hamming.i" ng-change="checkHammingValue('i', 0, 3)">-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--Deletions-->
<!--<input class="form-control" value="0" filterType="number" ng-model="cdr3_hamming.d" ng-change="checkHammingValue('d', 0, 3)">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->