<!--suppress HtmlFormInputWithoutLabel -->
<div class="ui fluid search dropdown selection multiple" [ngClass]="{ 'active visible' : searchVisible }" (click)="focus()">
    <i class="dropdown icon"></i>
    <a class="ui label visible" style="display: inline-block !important;" *ngFor="let entry of selected">
        {{ entry.display }}
        <i class="delete icon" (mousedown)="remove(entry)"></i>
    </a>
    <input class="search" autocomplete="off" tabindex="0" style="width: 25%"
           (focus)="onFocusIn()" (blur)="onFocusOut()" [ngModel]="fakeModel" (ngModelChange)="change($event)" #input>

    <span class="sizer">{{ fakeModel }}</span>

    <div class="default text" [innerHTML]="placeholder" *ngIf="model.length === 0"></div>

    <select multiple="" *ngIf="searchVisible">
        <option value="" *ngFor="let value of search">
            {{ value }}
        </option>
    </select>

    <div class="menu visible fade element average" tabindex="-1" style="display: block !important;" *ngIf="searchVisible">
        <div class="item" *ngFor="let entry of search | autocomplete:fakeModel:selected" (mousedown)="append(entry)">{{ entry.display }}</div>
    </div>
</div>